<div class="mt-3 mb-3 content-body">
  <div class="col-sm-12">
    <div class="card p-3 bg-transparent-70">
      <div class="card-body w-100" id="hero-spot2" style="margin: auto">
        <div class="row mt-4">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <h1 class="mb-2">Kedves látogató!</h1>
            <p>
              A Kódbázis arra hivatott, szoftverfejlesztői szaktudást adjon át, minél érthetőbb és egyszerűbb formában.
            </p>
            <p>Elérhető anyagok:</p>
            <div class="ml-3 mb-3">
              <p>
                <a href="https://www.youtube.com/playlist?list=PL6VA7Z5zO0dq-6NWrHzIy7dqLfeZhhhOz" target="_blank">
                  JavaScript az alapoktól (ingyenes)
                </a>
              </p>
              <p>
                <a href="https://www.youtube.com/playlist?list=PL6VA7Z5zO0drUomWpim2NLm9kUcqhZQhJ" target="_blank">
                  Node.js Tutorial (ingyenes)
                </a>
              </p>
              <p>
                <a href="/react-kurzus" target="_blank">React egyszerűen elmagyarázva</a>
              </p>
              <p>
                <a href="/php-az-alapoktol" target="_blank">PHP az alapoktól (készülése folyamatban...)</a>
              </p>
            </div>
            <p>Reméljük tudunk számodra értékes ismeretekkel szolgálni!</p>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <h2 class="text-dark">
              Kapcsolat:
            </h2>
            <h5 class="text-dark">
              Email:
              <a href="mailto:mate@kodbazis.hu">mate@kodbazis.hu</a>
            </h5>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
