<div class="mt-3 mb-3 content-body">
	<div class="col-md-12">
		<div class="card p-3 bg-transparent-70">
			<div class="card-body w-100" id="hero-spot2" style="margin: auto">
				<div class="row mt-4">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h1 class="mb-2 font-weight-bold">Kedves látogató!</h1>
						<p class="text-center mb-3">
							<strong>A Kódbázis arra hivatott, hogy szoftverfejlesztői szaktudást adjon át, minél érthetőbb és egyszerűbb formában.</strong>
						</p>
						<hr>
						<p class="text-center mb-2">
							A Kódbázis tananyagai úgy vannak megalkotva, hogy:
						</p>
						<ul class="mb-4">
							<li>Erősen támaszkodnak a vizualizációra és szemléltető eszközökre</li>
							<li>Mentesek a zajtól, hogy minél jobban tudj koncentrálni</li>
							<li>Minden epizód egy specifikus témakört jár körül és kizárólag arra fókuszál</li>
						</ul>

						<p class="text-center mb-2 text-danger">
							Ami megkülönbözteti a Kódbázist a többi online platformtól:
							<ul class="text-danger">
								<li>A magyarázat tömör és lényegretörő</li>
								<li>Az videók mellé élő kódkiegészítést kapsz</li>
								<li>Az epizódokban interaktív tartalom segíti a megértést</li>
							</ul>
						</p>
					</div>
					<div class="col-md-2"></div>
				</div>

			</div>
		</div>
	</div>
</div>

<h4 class="text-center mr-2 ml-2 font-weight-bold">
	Példa a beépülő tartalmakra és a kódkiegészítésre
</h4>


<div class="row m-3 pt-3 pb-3 border-bottom main-font">
	<div class="col-md-12 text-center p-3">
		<h4>Élő kódkiegészítés</h4>
	</div>
	<div class="col-md-12 m-auto">
		{{codeAssistant | raw}}
	</div>
</div>

<div class="row m-3 pt-3 pb-3 border-bottom main-font">
	<div class="col-md-12 text-center p-3">
		<h4>Beágyazódó app</h4>
	</div>
	<div class="col-md-8 m-auto">
		{{app | raw}}
	</div>
</div>

<div class="row m-3 pt-3 pb-3 border-bottom main-font">
	<div class="col-md-12 text-center p-3">
		<h4>Szemléltető animáció</h4>
	</div>
	<div class="col-md-8 m-auto">
		{{gif | raw}}
	</div>
</div>

<div class="row m-3 pt-3 pb-3 main-font">
	<div class="col-md-12 text-center p-3">
		<h4>Animáció kódsegéddel</h4>
	</div>
	<div class="col-md-8 m-auto">
		{{codeAssistantGif | raw}}
	</div>
</div>

<h4 class="mb-3 text-center font-weight-bold">Nézz körül a tananyagaink között!</h4>
<div class="row mb-3">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="card">
			<div class="mb-3 pl-3 pr-3" style="font-size: 1.8em">
				<p class="pt-2">
					<a href="/react-kurzus" target="_blank">React egyszerűen elmagyarázva</a>
				</p>
				<hr/>
				<p>
					<a href="/php-az-alapoktol" target="_blank">PHP az alapoktól</a>
				</p>
				<hr/>
				<p>
					<a href="https://www.youtube.com/playlist?list=PL6VA7Z5zO0dq-6NWrHzIy7dqLfeZhhhOz" target="_blank">
						JavaScript az alapoktól (Youtube)
					</a>
				</p>
				<hr/>
				<p>
					<a href="https://www.youtube.com/playlist?list=PL6VA7Z5zO0drUomWpim2NLm9kUcqhZQhJ" target="_blank">
						Node.js Tutorial (Youtube)
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<hr>
<h4 class="mb-3 text-center main-font" style="font-weight: 500">Reméljük tudunk számodra értékes ismeretekkel szolgálni!</h4>
<div class="row mb-3">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h4 class="text-dark text-center main-font" style="font-weight: 400">Kapcsolat:
			<a href="mailto:mate@kodbazis.hu">mate@kodbazis.hu</a>
		</h4>
	</div>
	<div class="col-md-2"></div>
</div>
