<div class="mt-3 mb-3 content-body">
  <div class="col-sm-12">
    <div class="card p-3">
      <div class="card-body">
        <div class="card-title">
          <h1 style="font-size: 40px" class="mb-4 mt-5 text-center">ÁLTALÁNOS SZERZŐDÉSI FELTÉTELEK (ÁSZF)</h1>
        </div> 

        <div class="card-body">
          <div class="card-title">
            <h1 style="font-size: 40px" class="mb-4 mt-5 text-center">SIMPLEPAY Adattovábbítási nyilatkozat</h1>
          </div>
          <p class="mb-2">
            Tudomásul veszem, hogy a Bolgár Máté Dániel e.v (MAGYARORSZÁG, 1095 BUDAPEST 9 ker. MESTER UTCA 38. MF em. 1
            ajtó) adatkezelő által a <a href="/react-kurzus">https://kodbazis.hu/react-kurzus</a> felhasználói
            adatbázisában tárolt alábbi személyes adataim átadásra kerülnek az OTP Mobil Kft. (1093 Budapest, Közraktár
            u. 30-32.), mint adatfeldolgozó részére.

            <br />
            <br />
            Az adatkezelő által továbbított adatok köre az alábbi:
          </p>
          <ol class="mb-2">
            <li class="mb-2 ml-4">
              Számlázott vásárlás esetén: email cím, név/cégnév, adószám, irányítószám, város, lakcím
            </li>
            <li class="ml-4">Nyugta-kibocsátással járó vásárlás esetén: email cím</li>
          </ol>
          <p class="mb-4">
            Az adatfeldolgozó által végzett adatfeldolgozási tevékenység jellege és célja a SimplePay Adatkezelési
            tájékoztatóban, az alábbi linken tekinthető meg:
            <a href="http://simplepay.hu/vasarlo-aff" target="_blank">http://simplepay.hu/vasarlo-aff</a>
          </p>
          <div class="w-100">
            <img class="img-fluid w-100 p-3 m-auto" src="/public/images/simplepay_logo2.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
