<div class="mt-3 mb-3 content-body">
  <div class="col-sm-12">
    <div class="p-3 m-2">
      <div class="card-body">
        <div class="card-title">
          <h1 style="font-size: 40px" class="mb-4 mt-5 text-center">ÁLTALÁNOS SZERZŐDÉSI FELTÉTELEK (ÁSZF)</h1>
        </div>

        <div class="card-body">
          <div class="card p-2 mb-2">
            <div class="card-title">
              <h1 style="font-size: 40px" class="mb-4 mt-5 text-center">SIMPLEPAY Adattovábbítási nyilatkozat</h1>
            </div>
            <p class="lead mb-2">
              Tudomásul veszem, hogy a Bolgár Máté Dániel e.v (MAGYARORSZÁG, 1095 BUDAPEST 9 ker. MESTER UTCA 38. MF em.
              1 ajtó) adatkezelő által a <a href="/react-kurzus">https://kodbazis.hu/react-kurzus</a> felhasználói
              adatbázisában tárolt alábbi személyes adataim átadásra kerülnek az OTP Mobil Kft. (1093 Budapest,
              Közraktár u. 30-32.), mint adatfeldolgozó részére.
            </p>

            Az adatkezelő által továbbított adatok köre az alábbi:
            <ol class="mb-2">
              <li class="mb-2 ml-4">
                Számlázott vásárlás esetén: email cím, név/cégnév, adószám, irányítószám, város, lakcím
              </li>
              <li class="ml-4">Nyugta-kibocsátással járó vásárlás esetén: email cím</li>
            </ol>
            <p class="mb-4">
              Az adatfeldolgozó által végzett adatfeldolgozási tevékenység jellege és célja a SimplePay Adatkezelési
              tájékoztatóban, az alábbi linken tekinthető meg:
              <a href="http://simplepay.hu/vasarlo-aff" target="_blank">http://simplepay.hu/vasarlo-aff</a>
            </p>
            <div class="w-100">
              <img class="img-fluid w-100 p-3 m-auto" src="/public/images/simplepay_logo2.png" />
            </div>
          </div>
        </div>

        <div class="card-body">
          <h1>Általános szabályok</h1>
          <p class="mb-3">
            Eltérő írásos megállapodás hiányában a jelen Általános Szerződési Feltételek (ÁSZF, Szabályzat) vonatkoznak
            a https://kodbazis.hu oldalt üzemeltető Bolgár Máté Dániel EV. (Jogtulajdonos vagy Szolgáltató) által tett
            ajánlatokra, az általuk teljesített szolgáltatásokra, tréningekre, valamint minden, a szolgáltató által
            kötött szerződésre.
          </p>

          <div class="card p-2 mb-2">
            <h4 class="mb-2">Üzemeltető, szerző és jogtulajdonos:</h4>

            <p class="lead">Bolgár Máté Dániel EV. MAGYARORSZÁG, 1095 BUDAPEST 9 ker. MESTER UTCA 38. MF em. 1 ajtó</p>
            <p class="lead">Adószám: 69208153143</p>
            <p class="lead">Bankszámlaszám: 11773102-00143752</p>
            <p class="lead">Bank neve: OTP Bank</p>
          </div>

          <p class="lead">
            Kérjük, tájékozódjon itt, és alaposan olvassa el a feltételeket. Ha valamely kikötésünkkel nem ért egyet
            vagy észrevétele van, azt jelezze, eltérő esetben úgy tekintjük, hogy a feltételekkel egyetért, az itt
            leírtakat elfogadja.
          </p>

          <div class="p-3 m-2">
            <h1>I. Alapvető rendelkezések</h1>

            <ol>
              <li>
                A jelen dokumentumban nem szabályozott kérdésekre, valamint jelen Szabályzat értelmezésére a magyar jog
                az irányadó, különös tekintettel a Polgári Törvénykönyvről szóló 2013. évi V. törvény („Ptk.”) és az
                elektronikus kereskedelmi szolgáltatások, az információs társadalommal összefüggő szolgáltatások egyes
                kérdéseiről szóló 2001. évi CVIII. (Elker. tv.) törvény, valamint a fogyasztó és a vállalkozás közötti
                szerződések részletes szabályairól szóló 45/2014. (II. 26.) Korm. rendelet vonatkozó rendelkezéseire. A
                vonatkozó jogszabályok kötelező rendelkezései a felekre külön kikötés nélkül is irányadók.
              </li>
              <li>
                A jelen feltételek 2021. január 18. napjától hatályosak és visszavonásig hatályban maradnak. A
                Szolgáltató jogosult egyoldalúan módosítani az Általános Szerződési Feltételeket.
              </li>
              <li>
                Szolgáltató fenntart magának minden jogot a weboldal/honlap, annak bármely részlete és az azon megjelenő
                tartalmak, valamint a weboldal terjesztésének tekintetében. Tilos a weboldalon/honlapon megjelenő
                tartalmak vagy azok bármely részletének letöltése, elektronikus tárolása, feldolgozása és értékesítése a
                Szolgáltató írásos hozzájárulása nélkül.
              </li>
            </ol>
          </div>
          <div class="p-3 m-2">
            <h1>II. A szolgáltatás leírása</h1>
            <ol>
              <li>
                A Szolgáltató által nyújtott videókurzusok egyszeri megvásárlásával a megrendelők, továbbiakban Tagok a
                vásárlást követően hozzáférhetnek a kurzusokban lévő oktatóvideókhoz és egyéb segédanyagokhoz.
                (Beágyazott appok, Kódsegéd)
              </li>
              <li>
                A szolgáltatás célja, hogy a Tagok megismerkedjenek különféle programozási módszerekkel és
                keretrendszerekkel, hogy a megszerzett tudást munkájuk vagy hobbijuk során tudják hasznosítani.
              </li>
              <li>
                A tanfolyamok nem minősülnek felnőttképzésnek. A szolgáltató a tanfolyamok folyamatába nem tud
                beavatkozni, nincs befolyása a képzésben részt vevő személy fejlődésére, a tananyagtartalom feldolgozása
                a képzésben részt vevő személy önálló feladata. A tanfolyamok online videótárat, online
                ismeretanyagokat, valamint információs hírleveleket foglalnak magukba.
              </li>
            </ol>
          </div>
          <div class="p-3 m-2">
            <h1>III. A szerződés tárgya</h1>

            <ol>
              <li>
                Jelen szerződés alapján a Tag megbízza a Szolgáltatót, hogy a Szolgáltatás keretében a weboldalon
                meghirdetett tananyagokat rendelkezésére bocsássa. A szerződés tárgyát képezik egyrészt a Szolgáltatáson
                keresztül, a szerződés megkötésének időpontjában hozzáférhető anyagok (videók, egyéb tananyagok),
                valamint a Szolgáltató által később elkészített frissítések, új tananyagok is.
              </li>
              <li>
                A fenti Szolgáltatáson kívül a Szolgáltató esetileg egyéni ajánlatokat tesz közzé a honlapon, amik egyéb
                szolgáltatások (személyes képzések, konzultációs lehetőségek, tanácsadás és coaching) nyújtására,
                illetve kiadványok nyomtatott vagy elektronikus formátumú műpéldányainak átruházására (a továbbiakban:
                „Egyéb szolgáltatás”) vonatkoznak.&nbsp;
              </li>
              <li>
                Ezen ajánlatokra vonatkozó szerződés a Szerződő Felek között ráutaló magatartással, a
                <b>„Megveszem”</b>
                gomb lenyomásával jön létre az Egyéb szolgáltatás adatlapja szerinti tartalommal és áron.&nbsp;
              </li>
              <li>
                A Szolgáltatás kizárólag online rendelhető meg és az online felületen érhető el. Letöltésre, lementésre,
                bármilyen adathordozón igénylésre nincsen mód és ezt tiltja a jelen Szabályzat.
              </li>
            </ol>
          </div>
          <div class="p-3 m-2">
            <h1>IV. A szerződés létrejötte, díjfizetés</h1>
            <ol>
              <li>
                A szerződés a felek között <b>„Megveszem”</b>
                gombra való kattintással lép életbe, amelyre a távollévők között megkötött szerződés (45/2014. (II. 26.)
                Korm. rendelet) szabályai vonatkoznak. A Megrendelő a gomb megnyomásával tudomásul veszi és elfogadja az
                itt leírt Általános Szerződési Feltételeket, egyúttal nyilatkozik arról, hogy az általa megadott adatok
                hiánytalanok és valósak, cselekvőképessége, illetve szerződéskötési képessége nincs korlátozva.
              </li>
              <li>
                A vásárlás/regisztráció során megadott valótlan, vagy más személyhez köthető adatok esetén a létrejövő
                elektronikus szerződés semmis. Szolgáltató kizárja felelősségét, amennyiben Tag más nevében, más személy
                adataival veszi igénybe szolgáltatásait. A Tag által tévesen és/vagy pontatlanul megadott adatokra
                visszavezethető számlázási illetve egyéb problémáért, hibáért a Szolgáltatót semminemű felelősség nem
                terheli.&nbsp;
              </li>
              <li>
                Jelen Szerződés elfogadásával a Tag kifejezetten hozzájárul ahhoz, hogy a Szolgáltató a szerződésszerű
                teljesítést a szerződés megkötése után azonnal megkezdje.
              </li>
              <li>
                Ennek feltétele a Szolgáltatás díjának kiegyenlítése, amely a jelentkezési űrlap kitöltését és a
                „Megveszem” feliratú gomb megnyomását követően, az <b>OTP SIMPLEPAY</b> rendszerén keresztül kell
                megtörténjen, bankkártyás fizetés formájában. A pontos megbízási díj mértékét mindig a megrendelő
                oldalon található megrendelő űrlap tartalmazza.&nbsp;
              </li>
              <li>
                A megvásárolt videókurzus a következőket tartalmazza:
                <ul>
                  <li class="ml-4">Hozzáférést a weboldalon található oktatófelülethez, tananyagokhoz</li>
                  <li class="ml-4">Hozzáférést a chat felülethez, kérdések feltevése céljából</li>
                </ul>

                A megvásárolt videókurzus nem tartalmazza sem telefonos, Skype-os, Messengeres támogatást,
                segítségnyújtást, sem személyes találkozást.
              </li>

              <li>
                A Tag a megrendelt szolgáltatást korlátlan ideig eléri. A hozzáférést nem értékesítheti vagy adhatja át
                további felhasználók részére.
              </li>
              <li>
                A Szolgáltató időszakosan, kipróbálható jelleggel is elérhetővé teheti bizonyos anyagait,
                szolgáltatásait, ezen szolgáltatásokért díjat nem számít fel, de regisztrációhoz köti őket. A
                regisztráció bármikor megszüntethető.
              </li>
              <li>
                A Szolgáltató fenntartja magának a jogot, hogy a beérkezett regisztrációt indoklás nélkül elutasítsa.
              </li>
            </ol>
          </div>

          <div class="p-3 m-2">
            <h1>V. Rendelés menete</h1>
            <ol>
              <li>
                A látogató regisztrációt követően megkezdheti a vásárlást a kurzus bemutató oldalakon található
                megrendelőlap kitöltésével. Az űrlap kitöltésével és a fizetéssel, a regisztrált felhasználói fiókjával
                automatikusan hozzáférést kap a kurzushoz.
              </li>
            </ol>
            <h1>VII. Elállási jog</h1>
            <ol>
              <li>
                A fogyasztónak minősülő Tag a szerződés megkötését követő 14 naptári napon belül azonnali hatállyal,
                indoklás nélkül felmondhatja a Szolgáltatás nyújtására vonatkozó szerződést. Az elállás joggal úgy élhet
                a Fogyasztó, hogy a mate@kodbazis.hu emailre jelzi szándékát. Szükséges megadnia a regisztrált email
                címét.
              </li>
              <li>Amennyiben a számla jogi személy nevére szól, a Tag nem minősül fogyasztónak.</li>
            </ol>
          </div>

          <div class="p-3 m-2">
            <h1>VIII. A Szolgáltató jogai és kötelességei</h1>
            <ol>
              <li>
                A Szolgáltató kötelezettséget vállal arra, hogy az általa meghirdetett videó kurzus szolgáltatást az
                általa nyújtható legmagasabb színvonalon biztosítja a jelentkezőknek.
              </li>
              <li>
                A leckékkel kapcsolatos segítségnyújtás pedig egész héten, hétköznaponként vehető igénybe a Facebook
                által szolgáltatott chat felületen, ami minden oldalon látható felületre van elhelyezve.
              </li>
              <li>Az esetlegesen felmerülő kérdések maximum 3-4 órán belül vannak megválaszolva.</li>
              <li>
                A Szolgáltató jogosult időszakosan olyan akciókat tartani, amely egy általa meghatározott mértékben
                kedvezményt biztosít a tagság listaáraiból. Ezen akciók feltételeiről és a kedvezményezettek köréről az
                akció időtartama alatt köteles a honlapján (https://kodbazis.hu) tájékoztatást nyújtani.
              </li>
              <li>
                A Szolgáltató arra is jogosult, hogy bizonyos kedvezményeket csak az általa meghatározott ügyfeleknek,
                vagy ügyfélcsoportoknak biztosítson, és ezen kedvezményekről nem köteles a honlapján felvilágosítást
                nyújtani.
              </li>
              <li>
                A Szolgáltató fenntartja magának a jogokat, hogy a mindenkori szolgáltatási díjakat, árakat maga
                határozza meg. Kérjük, az aktuális árakról és díjakról mindig tájékozódjon a honlapon. Minden
                szolgáltatásra, az annak megrendelése napján feltüntetett díjszabás az irányadó.
              </li>
              <li>
                A Szolgáltató a szolgáltatásaival kapcsolatos számlaadási kötelezettségét elektronikus számlával, vagy a
                Tag kérése esetén nyugtával teljesíti. Ezt a befizetés beérkezése után a megadott emailcímre küldjük a
                szamlazz.hu rendszeréből! A számla elektronikus aláírással és időbélyeggel van ellátva, így megfelel az
                áfa törvényben és egyéb rendeletben foglalt törvényi előírásoknak.
              </li>
            </ol>
          </div>

          <div class="p-3 m-2">
            <h1>IX. A Tag jogai és kötelezettségei</h1>
            <ol>
              <li>
                A Tag vagy az általa megnevezett résztvevő a megvásárolt kurzuson jogosult részt venni, és jogosult a
                leírt szolgáltatások igénybevételére.
              </li>
              <li>
                A Tag jogosult a kurzuson megszerzett információk, tapasztalatok és tudásanyag saját célú
                felhasználására.
              </li>

              <li>
                A Tag, vagy az általa megnevezett résztvevő a befizetett kurzuson tényleges részvételre nem kötelezhető!
              </li>

              <li>
                A sikeres tanfolyam elvégzéséhez szükséges technikai és egyéb anyagok beszerzése és fenntartása a Tagok
                kötelessége. A résztvevőknek rendelkeznie kell olyan számítástechnikai szoftveres és hardveres
                háttérrel, amely képessé teszi őket a tanfolyam elvégzésére. A tanfolyam szoftveres támogatást nem
                biztosít, a hallgatóknak maguknak kell gondoskodniuk a szoftverek beszerzéséről.
              </li>
              <li>
                A Tagnak olyan internet kapcsolattal is rendelkeznie kell, amely a folyamatos kommunikációra lehetőséget
                biztosít.
              </li>
              <li>
                A tanfolyam szervezői nem tudnak felelősséget vállalni olyan anyagok elvesztéséért, amely az
                elektronikus kapcsolattartás hibáiból adódhatnak.
              </li>
            </ol>
          </div>

          <div class="p-3 m-2">
            <h1>X. Szerzői jogok</h1>
            <ol>
              <li>
                A Tag kötelezettséget vállal arra, hogy a tananyagként kapott információkat az együttműködés tárgyával
                össze nem függő módon nem használja fel. A tananyagok a tréning szervezőjének a Bolgár Máté Dániel EV
                jogait képezi, azok felhasználásához minden esetben a szerzők előzetes írásbeli hozzájárulása szükséges.
              </li>
            </ol>
            <div class="p-3 m-2">
              <h1>XI. A honlap tulajdonosának technikai jogai</h1>
              <ol>
                <li>
                  Fenntartjuk a jogot, hogy a honlapon bármikor módosítást, átdolgozást eszközöljünk, a honlap
                  elérhetőségét korlátozhatjuk, vagy megszüntethetjük. Felhívjuk a T. Honlaplátogató böngésző figyelmét
                  arra, hogy a honlaphoz való hozzáférés folyamatosságát vagy hibamentességét nem garantálja a
                  Szolgáltató.
                </li>
                <li>
                  A honlap használatra alkalmatlan állapotából vagy a nem megfelelő működésből, hiányosságból, esetleges
                  üzemzavarból vagy félreérthetőségből eredő közvetlen vagy közvetett vagyoni vagy nem vagyoni károkért,
                  vagy más veszteségért való felelősséget kifejezetten kizárjuk. Kárigény esetén a vita rendezésére
                  előzetes és békés egyeztetés szükséges, a honlap üzemeltető székhelyén vagy telephelyén, jogi
                  képviselő jelenlétében. Csak az ezen az egyeztetésen felvett jegyzőkönyv aláírását követően jogosultak
                  a felek bírósághoz fordulni.
                </li>
                <li>
                  A Szolgáltató nagyobb karbantartás esetén a Tagokat előzetesen min. 24 órával értesíti, de a külső
                  szolgáltatók okaiból pl. Tárhely üzemzavar felelősséget nem vállal, de mindent megtesz, hogy a
                  hozzáférés folyamatosságát fenntartja.
                </li>
              </ol>
            </div>

            <div class="p-3 m-2">
              <h1>XII. Panaszkezelés</h1>
              <ol>
                <li>
                  A Szolgáltató célja, hogy a szolgáltatást megfelelő minőségben, a Tag teljes megelégedettsége mellett
                  teljesítsen. Amennyiben Tagnak mégis valamilyen panasza van a szerződéssel vagy annak teljesítésével
                  kapcsolatban, úgy panaszát a telefonon, e-mail címen, vagy levél útján is közölheti.
                </li>
                <li>
                  Tájékoztatjuk, hogy a panaszának elutasítása esetén panaszával hatósági vagy békéltető testület
                  eljárását kezdeményezheti, az alábbi elérhetőségeken:
                  <hr />
                  <p>Nemzeti Fogyasztóvédelmi Hatóság Cím: 1088 Budapest, József krt. 6.</p>

                  <p>Levelezési cím: 1428 Budapest, PF: 20.</p>

                  <p>Központi telefonszám: +36 1 459 4800</p>
                  <p>E-mail:</p>
                  <a href="mailto:nfh@nfh.hu">nfh@nfh.hu </a>
                  <hr />
                  <p>Pest Megyei Békéltető Testület</p>
                  <p>Címe: 1119 Budapest, Etele út 59-61. 2. em. 240.</p>
                  <p>Telefonszáma: (1)-269-0703</p>
                  <p>E-mail cím:</p>
                  <a href="mailto:pmbekelteto@pmkik.hu"><p>pmbekelteto@pmkik.hu</p></a>
                  <hr />
                </li>
                <li>
                  <p>
                    Online adásvételi vagy online szolgáltatási szerződéssel összefüggő határon átnyúló fogyasztói
                    jogvita esetén az eljárásra kizárólag a fővárosi kereskedelmi és iparkamara mellett működő békéltető
                    testület illetékes.
                  </p>
                </li>
              </ol>
            </div>
            <div class="p-3 m-2">
              <h1>XIII. Adatkezelés</h1>

              A számvitelről szóló hatályos jogszabályok értelmében a vásárló által megadott számlázási címet, és a
              számlák adatait a rendeletben meghatározott ideig, 8 évig tároljuk. Bővebben az
              <a href="/adatvedelmi-szabalyzat" target="_blank">Adatvédelmi szabályzatban</a>
              foglaltak az irányadók.
            </div>
            <div class="p-3 m-2 mb-3">
              <h1>XIV. Vegyes rendelkezések</h1>

              Szolgáltató kötelezettsége teljesítéséhez közreműködőt jogosult igénybe venni. A közreműködő jogellenes
              magatartásáért a Szolgáltató nem tartozik felelősséggel.
            </div>
            <p class="text-center">
              <strong>2021. január 18.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
