<div class="mt-3 mb-3 content-body">
  <div class="col-sm-12">
    <div class="card p-3">
      <div class="card-body">
        <div class="card-title"></div>

        <p class="has-text-align-center">
          <strong>ÁLTALÁNOS SZERZŐDÉSI FELTÉTELEK (ÁSZF)</strong>
        </p>

        <p class="has-text-align-center">
          <span style="background-color: #fcb900" class="tadv-background-color">http://…</span>
          hatályos ettől a naptól:
          <span style="background-color: #fcb900" class="tadv-background-color">dátum</span>
        </p>

        <p>
          Kérjük, hogy megrendelése véglegesítése előtt figyelmesen olvassa el a jelen dokumentumot, mert megrendelése
          véglegesítésével Ön elfogadja a jelen ÁSZF tartalmát!
        </p>

        <p>
          Az Általános Szolgáltatási Feltételek („ÁSZF”) tartalmazzák az&nbsp;<span
            style="background-color: #fcb900"
            class="tadv-background-color"
            >XY cég&nbsp;(székhely:.., adószám:…)</span
          >, mint szolgáltató (“Szolgáltató”) által üzemeltetett webáruház használatára vonatkozó általános szerződési
          feltételeket. Kérjük, hogy csak akkor vegye igénybe szolgáltatásainkat, amennyiben minden pontjával egyetért,
          és kötelező érvényűnek tekinti magára nézve. Jelen dokumentum nem kerül iktatásra, kizárólag elektronikus
          formában kerül megkötésre (nem minősül írásba foglalt szerződésnek), magatartási kódexre nem utal.
        </p>

        <p>
          <strong>1. Impresszum – Üzemeltetői adatok:</strong>
        </p>

        <p>
          <span style="background-color: #fcb900" class="tadv-background-color">Név:</span><br /><span
            style="background-color: #fcb900"
            class="tadv-background-color"
            >Székhely:</span
          ><br /><span style="background-color: #fcb900" class="tadv-background-color">Levelezési cím:</span><br /><span
            style="background-color: #fcb900"
            class="tadv-background-color"
            >Nyilvántartásba vevő hatóság:</span
          ><br /><span style="background-color: #fcb900" class="tadv-background-color">Cégjegyzékszám:</span><br /><span
            style="background-color: #fcb900"
            class="tadv-background-color"
            >Adószám:</span
          ><br /><span style="background-color: #fcb900" class="tadv-background-color">Képviselő:</span><br /><span
            style="background-color: #fcb900"
            class="tadv-background-color"
            >Telefonszám:</span
          ><br /><span style="background-color: #fcb900" class="tadv-background-color">E-mail:</span><br /><span
            style="background-color: #fcb900"
            class="tadv-background-color"
            >Honlap:</span
          >
        </p>

        <p>
          <strong>Tárhelyszolgáltató adatai:</strong>
        </p>

        <p>
          <span style="background-color: #fcb900" class="tadv-background-color">Név:</span><br /><span
            style="background-color: #fcb900"
            class="tadv-background-color"
            >Székhely:</span
          ><br /><span style="background-color: #fcb900" class="tadv-background-color">Elérhetőség:</span><br /><span
            style="background-color: #fcb900"
            class="tadv-background-color"
            >Név:</span
          ><br /><span style="background-color: #fcb900" class="tadv-background-color">Székhely:</span><br /><span
            style="background-color: #fcb900"
            class="tadv-background-color"
            >Adószám:</span
          >
        </p>

        <p>
          <strong>2.&nbsp;Alapvető rendelkezések:</strong>
        </p>

        <p>
          <em>
            <u>
              <span style="background-color: #fcb900" class="tadv-background-color"
                >A leírtakat kérjük alakítsd át a saját webáruházad működése szerint!</span
              >
            </u>
          </em>
        </p>

        <p>2.1. Hivatkozás a jogszabályokra:</p>

        <p>2.2. A szabályzat módosíthatósága.</p>

        <p>
          2.3. Szolgáltató fenntart magának minden jogot a weboldal, annak bármely részlete és az azon megjelenő
          tartalmak, valamint a weboldal terjesztésének tekintetében. Tilos a weboldalon megjelenő tartalmak vagy azok
          bármely részletének letöltése, elektronikus tárolása, feldolgozása és értékesítése a Szolgáltató írásos
          hozzájárulása nélkül.
        </p>

        <p>
          2.4. ÁSZF hatálya, elfogadása: A közöttünk létrejövő szerződés tartalmát – a vonatkozó kötelező érvényű
          jogszabályok rendelkezései mellett – a jelen Általános Szerződési Feltételek (a továbbiakban: ÁSZF) határozzák
          meg. Ennek megfelelően tartalmazza a jelen ÁSZF az Önt és bennünket illető jogokat és kötelezettségeket, a
          szerződés létrejöttének feltételeit, a teljesítési határidőket, a szállítási és fizetési feltételeket, a
          felelősségi szabályokat, valamint az elállási jog gyakorlásának feltételeit.
        </p>

        <p>
          A Honlap használatához szükséges azon technikai tájékoztatást, melyet jelen ÁSZF nem tartalmaz, a Honlapon
          elérhető egyéb tájékoztatások nyújtják.
        </p>

        <p>
          Ön a megrendelése véglegesítése előtt köteles megismerni a jelen ÁSZF rendelkezéseit. A webáruházunkon
          keresztül történő vásárlással Ön elfogadja a jelen ÁSZF rendelkezéseit, és az ÁSZF maradéktalanul az Ön és az
          Szolgáltató között létrejövő szerződés részét képezi.
        </p>

        <p>
          <strong>3. Megvásárolható termékek, szolgáltatások köre:</strong>
        </p>

        <p>
          A honlapon a megvásárolható termékek lényeges tulajdonságairól az egyes termékeknél szereplő leírásokban adunk
          tájékoztatást.
        </p>

        <p>3.1. Az adatbeviteli hibák javítása – felelősség a megadott adatok valóságáért</p>

        <p>
          Önnek a megrendelés során a megrendelés véglegesítése előtt folyamatosan lehetősége van az Ön által bevitt
          adatok módosítására (a böngészőben a vissza gombra kattintva az előző oldal nyílik meg, így akkor is
          javíthatóak a bevitt adatok, ha Ön már a következő oldalra lépett). Felhívjuk a figyelmét, hogy az Ön
          felelőssége, hogy az Ön által megadott adatok pontosan kerüljenek bevitelre, hiszen az Ön által megadott
          adatok alapján kerül számlázásra, illetve szállításra a termék. Ön a megrendelésével tudomásul veszi, hogy az
          Szolgáltató jogosult az Ön hibás adatbeviteléből, a pontatlanul megadott adatokból eredő minden kárát és
          költségét Önre hárítani. Az Szolgáltató a pontatlan adatbevitel alapján történő teljesítésért felelősségét
          kizárja. Felhívjuk a figyelmét arra, hogy a rosszul megadott e-mail cím vagy a postafiókhoz tartozó tárhely
          telítettsége a visszaigazolás kézbesítésének hiányát eredményezheti és meggátolhatja a szerződés létrejöttét.
        </p>

        <p>3.2. Eljárás hibás ár esetén</p>

        <p>Nyilvánvalóan hibásan feltüntetett árnak minősül:</p>

        <ul>
          <li>0 Ft-os ár,</li>
          <li>
            kedvezménnyel csökkentett, de a kedvezményt tévesen feltüntető ár (pl.: 1000 Ft-os termék esetén a 50 %-os
            kedvezmény feltüntetése mellett 100 Ft-ért kínált termék).
          </li>
        </ul>

        <p>
          Hibás ár feltüntetése esetén Szolgáltató felajánlja a termék valós áron történő megvásárlásának lehetőségét,
          mely információ birtokában a Vásárló eldöntheti, hogy megrendeli valós áron a terméket vagy minden hátrányos
          jogkövetkezmény nélkül lemondja a megrendelést.
        </p>

        <p>
          <strong>4. Regisztráció/Vásárlás</strong>
        </p>

        <p>
          <em>
            <u>
              <span style="background-color: #fcb900" class="tadv-background-color"
                >A leírtakat kérjük alakítsd át a saját webáruházad működése szerint!</span
              >
            </u>
          </em>
        </p>

        <p>4.1. Regisztráció</p>

        <p>
          Amennyiben vásárolni szeretne, úgy az első vásárlás alkalmával meg kell adnia a vásárláshoz szükséges adatokat
          is, így a nevét, számlázási és szállítási adatait, e-mail címét, valamint a későbbi belépéshez szükséges
          jelszavát. A regisztráció véglegesítése előtt szükséges a regisztrációs feltételek elfogadása is. A
          regisztrációt e-mailben visszaigazolja a rendszer. A vevő köteles az általa megadott jelszót bizalmasan
          kezelni. Amennyiben az azonosítás során a vevő egyedi azonosítója és jelszava helyes megadását követően a vevő
          adatai arra jogosulatlan harmadik személy birtokába kerültek, az ebből eredő károkért, illetve hátrányokért az
          Adatkezelő felelősséget nem vállal. A felhasználók e-mail címük megadásával hozzájárulnak ahhoz, hogy az
          üzemeltető/ szolgáltató technikai jellegű üzenetet küldjön számukra. A regisztrált adatokat az üzemeltető
          kérelemre törli a rendszerből. A törlési kérelem biztonsági okokból csak akkor lesz érvényes, ha a törlési
          kérelmet a felhasználó e-mailben megerősíti, így elkerülhető, hogy valaki szándékosan vagy tévedésből mást
          töröljön a regisztrációs adatbázisból. A regisztrációt az e-mail cím azonosítja, tehát egy e-mail címet csak
          egyszer lehet regisztrálni.&nbsp;
        </p>

        <p>A regisztráció kötelezettségekkel nem jár.</p>

        <p>4.2. Vásárlás</p>

        <p>
          A honlapon szereplő termékkategóriákra kattintva választhatja ki a kívánt termékcsaládot, és ezen belül az
          egyes termékeket. Az egyes termékekre kattintva találja a termék fotóját, cikkszámát, ismertetőjét, árát.
          Önnek vásárlás esetén a honlapon szereplő árat kell megfizetnie. A termékeket illusztrált fényképpel jelöltük.
          A fényképeken látható kiegészítők, dekorációs elemek nem részei a terméknek, kivéve ha az a termékleírásban
          külön kiemelésre kerül.
        </p>

        <p>Felhívjuk figyelmét, hogy az esetleges elírásokért, téves adatokért felelősséget nem vállalunk!</p>

        <p>
          <strong>5. A rendelés menete</strong>
        </p>

        <p>
          <em>
            <u>
              <span style="background-color: #fcb900" class="tadv-background-color"
                >A leírtakat kérjük alakítsd át a saját webáruházad működése szerint!</span
              >
            </u>
          </em>
        </p>

        <p>
          A Termék kiválasztása után Ön a&nbsp;“Kosárba”&nbsp;gombra kattintva helyezhet – tetszőleges számú terméket a
          kosárba anélkül, hogy ezzel Önnek vásárlási- vagy fizetési kötelezettsége keletkezne, mivel a kosárba helyezés
          nem minősül ajánlattételnek.
        </p>

        <p>
          A termékeket a Kosárba helyezheti bejelentkezés nélkül is azonban megrendelés előtt Önnek be kell lépnie a
          rendszerbe. Ezt csak akkor tudja megtenni, ha regisztrálja magát. A regisztrációt a következő menüpont alatt
          találja.&nbsp;Ha Ön regisztrált vásárló, de elfelejtette jelszavát, használja a jelszó Bejelentkezés
          emlékeztetőt. Ha itt megadja a regisztrált e-mail címét, akkor a jelszavát e-mailben elküldjük
          Önnek.&nbsp;Belépést a Bejelentkezés menüpont segítségével végezheti el. Itt adja meg regisztrált e-mail címét
          és jelszavát, majd nyomja meg a belépés gombot. Ha sikeres a belépés, akkor ebben az ablakban megjelenik az Ön
          regisztrált e-mail címe és a kilépés gomb, amely segítségével elhagyhatja az áruházat.
        </p>

        <p>
          A honlap használata során Ön a honlap tetején található „Kosár megtekintése” ikonra kattintva bármikor
          ellenőrizheti a kosár tartalmát. Itt lehetősége van a kiválasztott termékeket eltávolítani a kosárból, illetve
          a termék darabszámát megváltoztatni. A rendszer a „Kosár frissítése” gomb megnyomását követően megjeleníti az
          Ön által megváltoztatott adatoknak megfelelő információkat, ideértve a kosárba tett termékek árát is.
        </p>

        <p>
          Amennyiben Ön nem kíván további termékeket kiválasztani és a kosárba helyezni, úgy a „Megrendelés” gomb
          lenyomásával folytathatja a vásárlást.
        </p>

        <p>
          „Megrendelés” gomb lenyomását követően megjelenik a kosár tartalma, illetve az Ön által kiválasztott termékek
          megvásárlása esetén az Ön által fizetendő teljes vételár. Ezek után szükséges a felhasználói adatokat
          kitölteni (Név, Cím, szállítási mód, fizetési mód, elérhetőségek).
        </p>

        <p>
          A fenti szövegdobozok kitöltését követően Ön a&nbsp;„Folytatás a következő lépéssel”&nbsp;gombra kattintva
          folytathatja a megrendelési folyamatot, illetve a „Mégsem” gombra kattintva törölheti/javíthatja az eddig
          bevitt adatokat, és visszaléphet a Kosár tartalmához. A „Folytatás a következő lépéssel” gombra kattintás
          esetén Ön a „Rendelés áttekintése” oldalra érkezik. Itt láthatja összegezve az Ön által korábban megadott
          adatokat, így a Kosár tartalmát, a felhasználói, számlázási és szállítási adatokat és az Ön által fizetendő
          összeget (ezeken az adatokon itt már nem változtathat, csak ha a „Vissza” gombra kattint).
        </p>

        <p>5.1. A rendelés véglegesítése (ajánlattétel):</p>

        <p>
          Amennyiben Ön meggyőződött arról, hogy a kosár tartalma megfelel az Ön által megrendelni kívánt termékeknek,
          valamint az Ön adatai helyesen szerepelnek, úgy a „Megrendelés” gombra kattintva zárhatja le megrendelését. A
          honlapon közölt információk nem minősülnek az Szolgáltató részéről szerződés megkötésére vonatkozó ajánlatnak.
          A jelen ÁSZF hatálya alá tartozó megrendelések esetén Ön minősül ajánlattevőnek.
        </p>

        <p>
          Ön a „Megrendelés” gomb megnyomásával kifejezetten tudomásul veszi, hogy ajánlatát megtettnek kell tekinteni,
          és nyilatkozata – az Szolgáltató jelen ÁSZF szerinti visszaigazolása esetén – fizetési kötelezettséget von
          maga után. Önt az ajánlata 48 órás időtartamban köti. Amennyiben az Ön ajánlatát a jelen általános szerződési
          feltételek szerint 48 órán belül nem igazolja vissza az Szolgáltató, Ön mentesül az ajánlati kötöttsége alól.
        </p>

        <p>5.2. Rendelés feldolgozása, a szerződés létrejötte</p>

        <p>
          Önnek bármilyen időpontban lehetősége van a megrendelés leadására. Az Szolgáltató legkésőbb az Ön ajánlatának
          elküldését követő munkanap során e-mail útján visszaigazolja az Ön ajánlatát. A szerződés akkor jön létre,
          amikor az Szolgáltató által küldött visszaigazoló email az Ön számára a levelezőrendszerében hozzáférhetővé
          válik.
        </p>

        <p>
          <strong>6. A megrendelt termék ellenértékének és a szállítás díjának fizetésének módja</strong>
        </p>

        <p>
          <em>
            <u>
              <span style="background-color: #fcb900" class="tadv-background-color"
                >A leírtakat kérjük alakítsd át a saját webáruházad működése szerint!</span
              >
            </u>
          </em>
        </p>

        <p>6.1. A megrendelt termék fizetésének módja</p>

        <ul>
          <li>
            Banki előre utalással történő teljesítés: ha már visszaigazoltuk az Ön megrendelését, akkor a visszaigazoló
            e-mailben megtalálja a bankszámlaszámunkat és a megrendelésszámot, amelyre hivatkozni kell az átutalás
            megjegyzés / közlemény rovatában. Amennyiben az átutalt összeget jóváírják a bankszámlánkon, csak ezt
            követően adjuk fel a futárszolgálattal a terméket.(bankszámlaszámunkat az üzemeltetői adatok között találja
            meg)
          </li>
          <li>
            Személyesen történő teljesítés:&nbsp;Ez esetben Ön az üzemeltető székhelyén/telephelyén forintban fizeti meg
            a termék vételárát, vagy készpénzben, vagy bankkártyával.
          </li>
          <li>
            Bankkártyával történő fizetés a következő, érvényes és hatályos bankkártyák tulajdonosai számára
            lehetséges:&nbsp;<span style="background-color: #fcb900" class="tadv-background-color"
              >elfogadható kártyák felsorolása</span
            >
          </li>
          <li>
            Utánvéttel történő teljesítés: A terméket az általunk megbízott
            <span style="background-color: #fcb900" class="tadv-background-color">xy futárszolgálat</span>
            szállítja ki az Ön által megadott címre, ahol a termék, vagy termékek számla szerinti árát a futárnak kell
            készpénzben kifizetni. Utánvétes megrendelés esetén a szállítási költséghez az utánvételi díj még
            hozzáadódik.
          </li>
          <li>
            Utánvéttel fizetés esetén a megrendelt terméket a csomag átvételekor a kézbesítőnek készpénzben kell
            kifizetni.&nbsp;
          </li>
        </ul>

        <p>
          A fizetendő végösszeg a megrendelés összesítője és visszaigazoló levél alapján minden költséget tartalmaz. A
          számlát és a garancialevelet a csomag tartalmazza. Kérjük a csomagot kézbesítéskor a kézbesítő előtt
          szíveskedjék megvizsgálni, és esetlegesen a termékeken észlelt sérülés, vagy hiány esetén kérje jegyzőkönyv
          felvételét és ne vegye át a csomagot. Utólagos, jegyzőkönyv nélküli reklamációt nem áll módunkban elfogadni.
        </p>

        <p>6.2. Szállítás módjai és díjszabása</p>

        <p>
          <span style="background-color: #fcb900" class="tadv-background-color"
            >Szállítás módjainak felsorolása, leírása (pl személyes átvétel, csomagpont, futárszolgálat stb.)</span
          >
        </p>

        <ul>
          <li>
            <span style="background-color: #fcb900" class="tadv-background-color"
              >Rendelési érték 0-…&nbsp;Ft között a házhoz szállítás díja: … Ft.</span
            >
          </li>
          <li>
            <span style="background-color: #fcb900" class="tadv-background-color"
              >Rendelési érték&nbsp;…-…&nbsp;Ft között a házhoz szállítás díja: … Ft.</span
            >
          </li>
          <li>
            <span style="background-color: #fcb900" class="tadv-background-color"
              >Rendelési érték ..&nbsp;Ft felett&nbsp;ingyenes.</span
            >
          </li>
          <li>
            <span style="background-color: #fcb900" class="tadv-background-color"
              >Utánvételes megrendelés esetén a szállítási költséghez az utánvételi díj a rendelés értékéhez
              hozzáadódik.</span
            >
          </li>
        </ul>

        <p>Szállítási határidő:</p>

        <p>
          <span style="background-color: #fcb900" class="tadv-background-color"
            >Raktáron lévő termékek esetében a megrendelés visszaigazolásától számított x munkanap. Abban az esetben, ha
            a termék nincs raktáron x nap.</span
          >
        </p>

        <p>
          <strong>7. Elállás joga</strong>
        </p>

        <p>
          <em>
            <u>
              <span style="background-color: #fcb900" class="tadv-background-color"
                >A leírtakat kérjük alakítsd át a saját webáruházad működése szerint!</span
              >
            </u>
          </em>
        </p>

        <p>FOGYASZTÓI TÁJÉKOZTATÓ A 45/2014. (II. 26.) KORM. RENDELET ALAPJÁN</p>

        <p>7.1. Tájékoztató a fogyasztó vevőt megillető elállási jogról</p>

        <p>
          Fogyasztónak a Ptk. 8:1. § 1. bekezdés 3. pontja szerint csak a szakmája, önálló foglalkozása vagy üzleti
          tevékenysége körén kívül eljáró természetes személy minősül, így&nbsp;jogi személyek nem élhetnek az indokolás
          nélküli elállási joggal!
        </p>

        <p>
          A fogyasztót a 45/2014. (II. 26.) Korm. rendelet 20. § szerint megilleti az indokolás nélküli elállás joga. A
          fogyasztó az elállási jogát
        </p>

        <ol type="a">
          <li>termék adásvételére irányuló szerződés esetén</li>
          <li>a terméknek,</li>
          <li>
            több termék adásvételekor, ha az egyes termékek szolgáltatása eltérő időpontban történik,az utoljára
            szolgáltatott terméknek,
          </li>
        </ol>

        <p>
          a fogyasztó vagy az általa megjelölt, a fuvarozótól eltérő harmadik személy általi átvételének napjától
          számított határidőn belül gyakorolhatja, mely határidő&nbsp; 14 nap.
        </p>

        <p>
          A jelen pontban foglaltak nem érintik a fogyasztó azon jogát, hogy az e pontban meghatározott elállási jogát a
          szerződés megkötésének napja és a termék átvételének napja közötti időszakban is gyakorolja.
        </p>

        <p>
          Ha a szerződés megkötésére a fogyasztó tett ajánlatot, a fogyasztót a szerződés megkötése előtt megilleti az
          ajánlat visszavonásának joga, ami a szerződés megkötésére kiterjedő ajánlati kötöttséget megszünteti.
        </p>

        <p>7.2. Elállási nyilatkozat, a fogyasztót megillető elállási vagy felmondási jog gyakorlása</p>

        <p>
          A fogyasztó a 45/2014. (II. 26.) Korm. rendelet 20. §-ban biztosított jogát az erre vonatkozó egyértelmű
          nyilatkozat útján, vagy a honlapról is letölthető nyilatkozat-minta felhasználásával gyakorolhatja.
        </p>

        <p>Kérjük, hogy az elállási nyilatkozatot és a terméket az alábbi címre visszajuttatni szíveskedjenek:</p>

        <p>
          <span style="background-color: #fcb900" class="tadv-background-color">Cégnév</span><br /><span
            style="background-color: #fcb900"
            class="tadv-background-color"
            >Cím (kiszervezett logisztika esetén a partner neve és címe!)</span
          >
        </p>

        <p>7.3. A fogyasztó elállási nyilatkozatának érvényessége</p>

        <p>
          Az elállási jogot határidőben érvényesítettnek kell tekinteni, ha a fogyasztó nyilatkozatát határidőn belül
          elküldi. A határidő 14 nap.
        </p>

        <p>A fogyasztót terheli annak bizonyítása, hogy az elállás jogát e rendelkezéssel összhangban gyakorolta.</p>

        <p>
          Az Szolgáltató a fogyasztó elállási nyilatkozatát annak megérkezését követően köteles elektronikus
          adathordozón haladéktalanul visszaigazolni, amennyiben az internetes honlapján is biztosítja a fogyasztó
          számára az elállási jog gyakorlását.
        </p>

        <p>
          7.4.
          <span style="background-color: #fcb900" class="tadv-background-color"
            >Az elállási jog részletszabályai – Szolgáltató visszatérítési költsége és módja, többletköltségek,
            visszatartási jog, visszaszolgáltatással kapcsolatos költségek, fogyasztói felelősség az
            értékcsökkenésért</span
          >
        </p>

        <p>7.5. Az elállási jog az alábbi esetekben nem gyakorolható</p>

        <p>
          Az Szolgáltató kifejezetten felhívja az Ön figyelmét, hogy Ön nem gyakorolhatja elállási jogát a 45/2014
          (II.26.) Korm. Rendelet 29. §. (1) bekezdésében foglalt esetekben:
        </p>

        <ol type="a">
          <li>
            a szolgáltatás nyújtására irányuló szerződés esetében a szolgáltatás egészének teljesítését követően, ha a
            vállalkozás a teljesítést a fogyasztó kifejezett, előzetes beleegyezésével kezdte meg, és a fogyasztó
            tudomásul vette, hogy a szolgáltatás egészének teljesítését követően felmondási jogát elveszíti;
          </li>
          <li>
            olyan termék vagy szolgáltatás tekintetében, amelynek ára, illetve díja a pénzpiac vállalkozás által nem
            befolyásolható, az elállási jog gyakorlására meghatározott határidő alatt is lehetséges ingadozásától függ;
          </li>
          <li>
            olyan nem előre gyártott termék esetében, amelyet a fogyasztó utasítása alapján vagy kifejezett kérésére
            állítottak elő, vagy olyan termék esetében, amelyet egyértelműen a fogyasztó személyére szabtak;
          </li>
          <li>romlandó vagy minőségét rövid ideig megőrző termék tekintetében;</li>
        </ol>

        <ul>
          <li>
            olyan zárt csomagolású termék tekintetében, amely egészségvédelmi vagy higiéniai okokból az átadást követő
            felbontása után nem küldhető vissza;
          </li>
          <li>
            olyan termék tekintetében, amely jellegénél fogva az átadást követően elválaszthatatlanul vegyül más
            termékkel;
          </li>
          <li>
            olyan alkoholtartalmú ital tekintetében, amelynek tényleges értéke a vállalkozás által nem befolyásolható
            módon a piaci ingadozásoktól függ, és amelynek áráról a felek az adásvételi szerződés megkötésekor
            állapodtak meg, azonban a szerződés teljesítésére csak a megkötéstől számított harmincadik napot követően
            kerül sor;
          </li>
          <li>
            olyan vállalkozási szerződés esetében, amelynél a vállalkozás a fogyasztó kifejezett kérésére keresi fel a
            fogyasztót sürgős javítási vagy karbantartási munkálatok elvégzése céljából;
          </li>
          <li>
            lezárt csomagolású hang-, illetve képfelvétel, valamint számítógépes szoftver példányának adásvétele
            tekintetében, ha az átadást követően a fogyasztó a csomagolást felbontotta;
          </li>
          <li>hírlap, folyóirat és időszaki lap tekintetében, az előfizetéses szerződések kivételével;</li>
          <li>nyilvános árverésen megkötött szerződések esetében;</li>
          <li>
            lakáscélú szolgáltatás kivételével szállásnyújtásra irányuló szerződés, fuvarozás,
            személygépjármű-kölcsönzés, étkeztetés vagy szabadidős tevékenységekhez kapcsolódó szolgáltatásra irányuló
            szerződés esetében, ha a szerződésben meghatározott teljesítési határnapot vagy határidőt kötöttek ki;
          </li>
          <li>
            a nem tárgyi adathordozón nyújtott digitális adattartalom tekintetében, ha a vállalkozás a fogyasztó
            kifejezett, előzetes beleegyezésével kezdte meg a teljesítést, és a fogyasztó e beleegyezésével egyidejűleg
            nyilatkozott annak tudomásul vételéről, hogy a teljesítés megkezdését követően elveszíti az elállási jogát.
          </li>
        </ul>

        <p>
          <strong>8. Jótállás, szavatosság, kellékszavatosság</strong>
        </p>

        <p>8.1. Milyen esetben élhet Felhasználó a kellékszavatossági jogával?</p>

        <p>
          Felhasználó a Szolgáltató hibás teljesítése esetén a Szolgáltatóval szemben kellékszavatossági igényt
          érvényesíthet a Polgári Törvénykönyv szabályai szerint.
        </p>

        <p>8.2. Milyen jogok illetik meg a Felhasználót a kellékszavatossági igénye alapján?</p>

        <p>
          Felhasználó – választása szerint – az alábbi kellékszavatossági igényekkel élhet: kérhet kijavítást vagy
          kicserélést, kivéve, ha az ezek közül a Felhasználó által választott igény teljesítése lehetetlen vagy a
          vállalkozás számára más igénye teljesítéséhez képest aránytalan többletköltséggel járna. Ha a kijavítást vagy
          a kicserélést nem kérte, illetve nem kérhette, úgy igényelheti az ellenszolgáltatás arányos leszállítását vagy
          a hibát a vállalkozás költségére Felhasználó is kijavíthatja, illetve mással kijavíttathatja vagy – végső
          esetben – a szerződéstől is elállhat. Választott kellékszavatossági jogáról egy másikra is áttérhet, az
          áttérés költségét azonban Felhasználó viseli, kivéve, ha az indokolt volt, vagy arra a vállalkozás adott okot.
        </p>

        <p>8.3. Milyen határidőben érvényesítheti Felhasználó kellékszavatossági igényét?</p>

        <p>
          Felhasználó (ha fogyasztónak minősül) köteles a hibát annak felfedezése után haladéktalanul, de nem később,
          mint a hiba felfedezésétől számított kettő hónapon belül közölni. Ugyanakkor felhívjuk a figyelmét, hogy a
          szerződés teljesítésétől számított két éves (vállalkozás esetén 1 éves) elévülési határidőn túl
          kellékszavatossági jogait már nem érvényesítheti.
        </p>

        <p>8.4. Kivel szemben érvényesítheti kellékszavatossági igényét?</p>

        <p>Felhasználó a Szolgáltatóval szemben érvényesítheti kellékszavatossági igényét.</p>

        <p>
          8.5. Milyen egyéb feltétele van kellékszavatossági jogai érvényesítésének (amennyiben a Felhasználó
          fogyasztónak minősül)?
        </p>

        <p>
          A teljesítéstől számított hat hónapon belül a kellékszavatossági igénye érvényesítésének a hiba közlésén túl
          nincs egyéb feltétele, ha Felhasználó igazolja, hogy a terméket, illetve a szolgáltatást a webshopot
          üzemeltető vállalkozás nyújtotta. A teljesítéstől számított hat hónap eltelte után azonban már Felhasználó
          köteles bizonyítani, hogy a Felhasználó által felismert hiba már a teljesítés időpontjában is megvolt.
        </p>

        <p>
          <strong>Termékszavatosság</strong>
        </p>

        <p>8.6. Milyen esetben élhet Felhasználó a termékszavatossági jogával?</p>

        <p>
          Ingó dolog (termék) hibája esetén Felhasználó – választása szerint – kellékszavatossági vagy
          termékszavatossági igényt érvényesíthet.
        </p>

        <p>8.7. Milyen jogok illetik meg Felhasználót termékszavatossági igénye alapján?</p>

        <p>Termékszavatossági igényként Felhasználó kizárólag a hibás termék kijavítását vagy kicserélését kérheti.</p>

        <p>8.8. Milyen esetben minősül a termék hibásnak?</p>

        <p>
          A termék akkor hibás, ha az nem felel meg a forgalomba hozatalakor hatályos minőségi követelményeknek, vagy
          pedig, ha nem rendelkezik a gyártó által adott leírásban szereplő tulajdonságokkal.
        </p>

        <p>8.9. Milyen határidőben érvényesítheti Felhasználó termékszavatossági igényét?</p>

        <p>
          Termékszavatossági igényét Felhasználó a termék gyártó általi forgalomba hozatalától számított két éven
          (vállalkozás esetén 1 éven) belül érvényesítheti. E határidő elteltével e jogosultságát elveszti.
        </p>

        <p>8.10. Kivel szemben és milyen egyéb feltétellel érvényesítheti termékszavatossági igényét?</p>

        <p>
          Termékszavatossági igényét kizárólag az ingó dolog gyártójával vagy forgalmazójával szemben gyakorolhatja. A
          termék hibáját termékszavatossági igény érvényesítése esetén Felhasználónak kell bizonyítania.
        </p>

        <p>8.11. A gyártó (forgalmazó) milyen esetben mentesül termékszavatossági kötelezettsége alól?</p>

        <p>
          A gyártó (forgalmazó) kizárólag akkor mentesül termékszavatossági kötelezettsége alól, ha bizonyítani tudja,
          hogy:
        </p>

        <ul>
          <li>a terméket nem üzleti tevékenysége körében gyártotta, illetve hozta forgalomba, vagy</li>
          <li>
            a hiba a tudomány és a technika állása szerint a forgalomba hozatal időpontjában nem volt felismerhető vagy
          </li>
          <li>a termék hibája jogszabály vagy kötelező hatósági előírás alkalmazásából ered.</li>
        </ul>

        <p>
          A gyártónak (forgalmazónak) a mentesüléshez elegendő egy okot bizonyítania. Felhívom figyelmét, hogy ugyanazon
          hiba miatt kellékszavatossági és termékszavatossági igényt egyszerre, egymással párhuzamosan nem
          érvényesíthet. Termékszavatossági igényének eredményes érvényesítése esetén azonban a kicserélt termékre,
          illetve kijavított részre vonatkozó kellékszavatossági igényét a gyártóval szemben érvényesítheti.
        </p>

        <p>
          <strong>
            <span style="background-color: #fcb900" class="tadv-background-color"
              >Jótállás szabályainak leírása. milyen esetben élhet a jótállással, határidők, csereigény,Szolgáltatói
              mentesülés a jótállási kötelezettség alól</span
            >
          </strong>
        </p>

        <p>
          <strong>9. </strong>
          <strong>Vegyes rendelkezések</strong>
        </p>

        <p>
          <em>
            <u>
              <span style="background-color: #fcb900" class="tadv-background-color"
                >A leírtakat kérjük alakítsd át a saját webáruházad működése szerint!</span
              >
            </u>
          </em>
        </p>

        <p>
          A jelen általános szerződési feltételekben nem szabályozott kérdésekben a Ptk (2013.évi V. törvény),
          fogyasztói szerződéseknél a távollevők között kötött szerződésekről szóló 45/2014. kormányrendelet
          rendelkezései az irányadók.
        </p>

        <p>
          9.1.<span style="background-color: #fcb900" class="tadv-background-color">
            Bíróság kikötése, egyéb feltételek,</span
          >
        </p>

        <p>
          10.
          <strong>Panaszkezelés rendje (fogyasztónak minősülő felhasználók esetén)</strong>
        </p>

        <p>
          10.1.
          <span style="background-color: #fcb900" class="tadv-background-color"
            >Panaszok kezelésének leírása, békéltető testületek felsorolása, online vitarendezési platform link.</span
          >
        </p>

        <p>
          <strong>11. Szerzői jogok</strong>
        </p>

        <p>
          11.1.
          <span style="background-color: #fcb900" class="tadv-background-color">A webshop szerzői jogi védelme.</span>
        </p>

        <p>
          <strong>12. Adatvédelem</strong>
        </p>

        <p>
          A weboldal adatkezelési tájékoztatója elérhető a következő oldalon:
          <span style="background-color: #fcb900" class="tadv-background-color">http://…</span>
        </p>

        <p>
          <span style="background-color: #fcb900" class="tadv-background-color">Város, dátum</span>
        </p>

        <hr class="wp-block-separator" />

        <div style="height: 100px" aria-hidden="true" class="wp-block-spacer"></div>

        <p>
          A
          <strong>
            <a
              href="https://smartside.hu/wp-content/uploads/2020/09/aszf-minta.docx"
              target="_blank"
              rel="noreferrer noopener"
            >
              <span style="color: #ff9900" class="tadv-color"
                >webáruház Általános Szerződési Feltételek (ÁSZF) minta ide kattintva</span
              >
            </a>
          </strong>
          tölthető le.
        </p>

        <h2>Több dolog is hiányzik a webáruházad jogi dokumentumai közül?</h2>

        <p>
          A webshop üzemeltetésének több feltétele is van amiket összegyűjtöttük
          <span style="color: #0693e3" class="tadv-color">ebben a cikkünkben</span>. Az Általános Szerződési Feltételek
          csak egy a kötelező jogi dokumentumok közül. közülük.
        </p>
      </div>
    </div>
  </div>
</div>
