<div class="mt-3 mb-3 content-body">
  <div class="col-sm-12">
    <div class="card p-3">
      <div class="card-body">
        <div class="card-title">
          <h1 style="font-size: 40px" class="mb-4 mt-5 text-left">Információk a süti kezeléssel kapcsolatban</h1>
          <p>
            Weboldalunkon cookie-kat (továbbiakban süti) alkalmazunk. Ezek olyan fájlok, melyek információt tárolnak
            webes böngészőjében. Ehhez az Ön hozzájárulása szükséges. A sütiket az elektronikus hírközlésről szóló 2003.
            évi C. törvény, az elektronikus kereskedelmi szolgáltatások, az információs társadalommal összefüggő
            szolgáltatások egyes kérdéseiről szóló 2001. évi CVIII. törvény, valamint az Európai Unió előírásainak
            megfelelően használjuk. Azon weblapoknak, melyek az Európai Unió országain belül működnek, a sütik
            használatához, és ezeknek a felhasználó számítógépén vagy egyéb eszközén történő tárolásához a felhasználók
            hozzájárulását kell kérniük.
          </p>
          <h1 style="font-size: 40px" class="mb-4 mt-5 text-left">1. sütik használatának szabályzata</h1>
          <ol>
            <li>Ez a szabályzat a domain név weboldal sütijeire vonatkozik.</li>
          </ol>
          <h1 style="font-size: 40px" class="mb-4 mt-5 text-left">2. Mik azok a sütik?</h1>
          <ol>
            <li>
              A sütik olyan kisméretű fájlok, melyek betűket és számokat tartalmaznak. A süti a webszerver és a
              felhasználó böngészője közötti információcsere eszköze. Ezek az adatfájlok nem futtathatók, nem
              tartalmaznak kémprogramokat és vírusokat, továbbá nem férhetnek hozzá a felhasználók
              merevlemez-tartalmához.
            </li>
          </ol>

          <h1 style="font-size: 40px" class="mb-4 mt-5 text-left">3. Mire használhatók a sütik?</h1>
          <ol>
            <li>
              A sütik által küldött információk segítségével az internetböngészők könnyebben felismerhetők, így a
              felhasználók releváns és személyre szabott tartalmat kapnak. A cookie-k kényelmesebbé teszik a
              böngészést, értve ez alatt az online adatbiztonsággal kapcsolatos igényeket és a releváns reklámokat. A
              sütik segítségével a weboldalak üzemeltetői névtelen (anonim) statisztikákat is készíthetnek az
              oldallátogatók szokásairól. Ezek felhasználásával az oldal szerkesztői még jobban személyre tudják szabni
              az oldal kinézetét és tartalmát.
            </li>
          </ol>

          <h1 style="font-size: 40px" class="mb-4 mt-5 text-left">4. Milyen sütikkel találkozhat?</h1>
          <ol>
            <li>A weboldalak kétféle sütit használhatnak:</li>
            <li>Ideiglenes sütik, melyek addig maradnak eszközén, amíg el nem hagyja weboldalt.</li>
            <li>
              Állandó sütik, melyek webes keresőjének beállításától függően hosszabb ideig, vagy egészen addig az
              eszközén maradnak, amíg azokat Ön nem törli.
            </li>
            <li>
              Harmadik féltől származó sütik, melyeket harmadik fél helyez el az Ön böngészőjében (pl. Google
              Analitika). Ezek abban az esetben kerülnek a böngészőjében elhelyezésre, ha a meglátogatott weboldal
              használja a harmadik fél által nyújtott szolgáltatásokat.
            </li>
            <li>
              Elengedhetetlen munkamenet (session-id) sütik: Ezek használata elengedhetetlen a weboldalon történő
              navigáláshoz, a weboldal funkcióinak működéséhez. Ezek elfogadása nélkül a honlap, illetve annak egyes
              részei nem, vagy hibásan jelenhetnek meg.
            </li>
            <li>
              Analitikai vagy teljesítményfigyelő sütik: Ezek segítenek abban, hogy megkülönböztessük a weboldal
              látogatóit, és adatokat gyűjtsünk arról, hogy a látogatók hogyan viselkednek a weboldalon. Ezekkel a
              sütikkel biztosítjuk például, hogy a weboldal az Ön által kért esetekben megjegyezze a bejelentkezést.
              Ezek nem gyűjtenek Önt azonosítani képes információkat, az adatokat összesítve és névtelenül tárolják. (
              pl: Google Analitika)
            </li>
            <li>
              Funkcionális sütik: E sütik feladata a felhasználói élmény javítása. Észlelik, és tárolják például, hogy
              milyen eszközzel nyitotta meg a honlapot, vagy az Ön által korábban megadott, és tárolni kért adatait:
              például automatikus bejelentkezés, a választott nyelv, a szövegméretben, betűtípusban vagy a honlap egyéb
              testre szabható elemében Ön által végrehajtott felhasználói változtatások. Ezek a sütik nem követik nyomon
              az Ön más weboldalakon folytatott tevékenységét. Az általuk gyűjtött információkban lehetnek azonban
              személyes azonosító adatok, amelyeket Ön megosztott.
            </li>
            <li>
              Célzott vagy reklám sütik: Ezek segítségével a weboldalak az Ön érdeklődési körének leginkább megfelelő
              információt (marketing) tudnak nyújtani. Ehhez az Ön kifejezett belegyezése szükséges. Ezek a sütik
              részletes információkat gyűjtenek böngészési szokásairól.
            </li>
          </ol>

          <h1 style="font-size: 40px" class="mb-4 mt-5 text-left">5. Tartalmaznak a sütik személyes adatokat?</h1>
          <ol>
            <li>
              A legtöbb süti nem tartalmaz személyes információkat, segítségével nem azonosíthatók a felhasználók. A
              tárolt adatok a kényelmesebb böngészésért szükségesek, tárolásuk olyan módon történik, hogy jogosulatlan
              személy nem férhet hozzájuk.
            </li>
          </ol>

          <h1 style="font-size: 40px" class="mb-4 mt-5 text-left">6. Miért fontosak a sütik az interneten?</h1>
          <ol>
            <li>
              - A felhasználó igényeihez igazított tartalmak, szolgáltatások, termékek megjelenítése. - A felhasználó
              érdeklődési köre szerint kialakított ajánlatok. - Az ön által kért esetben a bejelentkezés megjegyzése
              (maradjon bejelentkezve). - Internetes tartalmakra vonatkozó gyermekvédelmi szűrők megjegyzése (family
              mode opciók, safe search funkciók). - Reklámok gyakoriságának korlátozása; azaz, egy reklám
              megjelenítésének számszerű korlátozása a felhasználó részére adott weboldalon. - A felhasználó számára
              releváns reklámok megjelenítése. - Geotargeting
            </li>
          </ol>

          <h1 style="font-size: 40px" class="mb-4 mt-5 text-left">
            7. Biztonsággal és adatbiztonsággal kapcsolatos tényezők.
          </h1>
          <ol>
            <li>
              A sütik nem vírusok és kémprogramok. Mivel egyszerű szöveg típusú fájlok, ezért nem futtathatók, tehát nem
              tekinthetők programoknak. Előfordulhat azonban, hogy más szándékkal (rosszindulattal) rejtenek el
              információkat a sütiben, így azok spyware-ként működhetnek. Emiatt a víruskereső és –irtó programok a
              sütiket folyamatosan törlésre ítélhetik.
            </li>
            <li>
              Mivel az internet böngészésre használt eszköz és a webszerverek folyamatosan kommunikálnak, tehát
              oda-vissza küldik az adatokat, ezért ha egy támadó (hekker) beavatkozik a folyamatba, kinyerheti a sütik
              által tárolt információkat. Ennek egyik oka lehet például a nem megfelelő módon titkosított internet
              (WiFi) beállítás. Ezt a rést kihasználva adatokat nyerhetnek ki a sütikből.
            </li>
          </ol>

          <h1 style="font-size: 40px" class="mb-4 mt-5 text-left">8. A sütik kezelése, törlése</h1>
          <ol>
            <li>
              A sütiket a használt böngészőprogramokban lehet törölni vagy letiltani. A böngészők alapértelmezett módon
              engedélyezik a sütik elhelyezését. Ezt a böngésző beállításainál lehet letiltani, valamint a meglévőket
              törölni. Mindemellett beállítható az is, hogy a böngésző értesítést küldjön a felhasználónak, amikor
              sütit küld az eszközre. Fontos hangsúlyozni azonban, hogy ezen fájlok letiltása vagy korlátozása rontja
              a böngészési élményt, valamint hiba jelentkezhet a weboldal funkciójában is.
            </li>
            <li>
              - A beállítási lehetőségek általában a böngésző Opciók vagy Beállítások menüpontjában találhatók.
              Mindegyik webes kereső különböző, így a megfelelő beállításokhoz kérjük. használja keresője “Segítség
              menüjét, illetve az alábbi linkeket a sütik beállításainak módosításához: Cookie settings in Internet
              Explorer Cookie settings in Firefox Cookie settings in Chrome Cookie settings in Safari - Az anonim Google
              Analitika sütik kikapcsolásához egy úgynevezett Google Analytics plug-in-t (kiegészítőt) telepíthet a
              böngészőjébe, mely megakadályozza, hogy a honlap az Önre vonatkozó információkat küldjön a Google
              Analitikának. Ezzel kapcsolatban további információkat az alábbi linkeken talál: Google Analytics &
              Privacy vagy Google Elvek és Irányelvek
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
