<div class="_2xvqr" id="coupon-container" data-courseid="{{courseId}}">
	<button disabled class="mb-2 btn btn-sm btn-outline-secondary">
		<p>
			Kuponod van? Váltsd be itt!
		</p>
	</button>
</div>
<script src="/public/js/coupon.js"></script>
