<div class="_2xvqr" id="coupon-container" data-courseid="{{courseId}}">
	<button disabled class="mb-2 btn btn-outline-secondary">
		<p>
			Kupon beváltása
		</p>
	</button>
</div>
<script src="/public/js/coupon.js"></script>
