<div class="mt-3 mb-3 content-body">
	<div style="margin-bottom: 90px"></div>
	<h1 class="mb-2" style="font-weight: 400 !important">Beágyazható segédletek</h1>

	<p class="lead text-center text-danger">Tanulási segédletek, amelyeket korlátlan számban elhelyezhetsz az epizódjaidban!</p>


	<div class="row m-3 pt-3 pb-3 border-bottom main-font">
		<div class="col-sm-12 text-center p-2">
			<h4>Beágyazható JavaScript Appok</h4>
		</div>
		<div class="col-sm-12 m-auto">
			{{app | raw}}
		</div>
	</div>


	<div class="row m-3 pt-3 pb-3 border-bottom main-font">
		<div class="col-sm-12 text-center p-2">
			<h4>Élő kódkiegészítés</h4>
		</div>
		<div class="col-sm-12 m-auto">
			{{codeAssistant | raw}}
		</div>
	</div>

	<div class="row m-3 pt-3 pb-3 border-bottom main-font">
		<div class="col-sm-12 text-center p-2">
			<h4>Animáció</h4>
		</div>
		<div class="col-sm-12 m-auto">
			{{gif | raw}}
		</div>
	</div>

	<div class="row m-3 pt-3 pb-3 border-bottom main-font">
		<div class="col-sm-12 text-center p-2">
			<h4>Animáció + kódsegéd</h4>
		</div>
		<div class="col-sm-12 m-auto">
			{{codeAssistantGif | raw}}
		</div>
	</div>

	<br/>
	<h4 class="text-center mb-5" style="font-weight: bold">
		Ha szeretnél együttműködni, írj a
		<code>mate@kodbazis.hu</code>
		címre!
	</h4>
</div>
