<footer class="page-footer">
	<ul class="site-footer-links right">
		<li>
			<a target="_blank" href="https://facebook.com/kodbazis">
				<img height="30px" src="public/images/fb.webp"/>
			</a>
		</li>
		<li style="margin: 0 20px;">
			<a target="_blank" href="https://youtube.com/kodbazis">
				<img height="30px" src="public/images/yt.webp"/>
			</a>
		</li>
	</ul>

	<ul class="site-footer-links" style="margin: 0 20px;">
		<li>Kódbázis © 2021</li>
		<li>
			<a target="_blank" href="/aszf">
				ÁSZF
			</a>
		</li>
		<li>
			<a target="_blank" href="/adatvedelmi-szabalyzat">
				Adatvédelmi szabályzat
			</a>
		</li>
	</ul>
</footer>
