<footer class="page-footer">
	<ul class="site-footer-links right">
		<li>
			<a target="_blank" href="https://facebook.com/kodbazis">
				<img height="30px" src="public/images/facebook.png"/>
			</a>
		</li>
		<li>
			<a target="_blank" href="https://youtube.com/kodbazis">
				<img height="30px" src="public/images/youtube.png"/>
			</a>
		</li>
	</ul>

	<ul class="site-footer-links">
		<li>Kódbázis © 2021</li>
		<li>
			<a href="/adatvedelmi-szabalyzat">
				Adatvédelmi szabályzat
			</a>
		</li>
	</ul>
</footer>
