<section id="hero-spot" class="bg first-section">
	<h1 id="main-title" class="title-margin">Programozás egyszerűen elmagyarázva.</h1>
	<h2 id="sub-title">Közérthető, gyakorlatias és könnyen emészthető formában, az alapoktól.</h2>
	<div id="slideshow">
		<img src="/public/images/slideshow/stack.png" class="slide active" width="893"/>
		<img src="/public/images/slideshow/code.png" class="slide" width="893"/>
		<img src="/public/images/slideshow/yellow.png" class="slide" width="893"/>
	</div>
</section>
<section id="tutorial" class="tutorial">
	<div class="content-body">
		<div class="row">
			<div class="col-sm-3">
				<h1 class="mt-5 mb-5">
					<a href="/cikkek">Cikkek</a>
				</h1>
			</div>
			<div class="col-sm-3">
				<h1 class="mt-5 mb-5">
					<a href="/react-kurzus/a-react-filozofiaja">React Kurzus</a>
				</h1>
			</div>
			<div class="col-sm-3">
				<h1 class="mt-5 mb-5">
					<a href="/trening">Tréning</a>
				</h1>
			</div>
			<div class="col-sm-3">
				<h1 class="mt-5 mb-5">
					<a href="/elerhetoseg">Elérhetőség</a>
				</h1>
			</div>
		</div>
	</div>
</section>
