<section id="hero-spot" class="bg first-section">
	<h1 id="main-title" class="title-margin">Programozás egyszerűen elmagyarázva.</h1>
	<h2 id="sub-title">Közérthető, gyakorlatias és könnyen emészthető formában, az alapoktól.</h2>
	<div id="slideshow">
		<img src="/public/images/slideshow/stack.webp" class="slide active" width="600"/>
		<img src="/public/images/slideshow/code.webp" class="slide" width="600"/>
		<img src="/public/images/slideshow/yellow.webp" class="slide" width="600"/>
	</div>
</section>

<section class="tutorial bg-transparent-70 content-body">
	{{ content | raw }}
	{% include 'home-links.twig' %}
</section>
