<section id="hero-spot" class="bg first-section">
	<h1 id="main-title" class="title-margin">Programozás egyszerűen elmagyarázva.</h1>
	<h2 id="sub-title">Közérthető, gyakorlatias és könnyen emészthető formában, az alapoktól.</h2>
	<div id="slideshow">
		<img src="/public/images/slideshow/stack.png" class="slide active" width="600"/>
		<img src="/public/images/slideshow/code.png" class="slide" width="600"/>
		<img src="/public/images/slideshow/yellow.png" class="slide" width="600"/>
	</div>
</section>
<p class="text-center lead p-2 card">Szoftverfejlesztő vagy? Netán annak készülsz? Itt eszközöket kapsz a fejlődéshez!</p>
<section id="tutorial" class="tutorial">
	<div class="content-body">
		<div class="row">
			{% include 'home-links.twig' %}
		</div>
	</div>
</section>
