<section id="hero-spot" class="bg first-section">
	<h1 id="main-title" class="title-margin">Programozás egyszerűen elmagyarázva.</h1>
	<div id="slideshow">
		<img src="/public/images/slideshow/stack.webp" class="slide active" width="600"/>
		<img src="/public/images/slideshow/code.webp" class="slide" width="600"/>
		<img src="/public/images/slideshow/yellow.webp" class="slide" width="600"/>
	</div>
</section>

<section class="tutorial bg-transparent-70 content-body mb-4">
	{{ content | raw }}
	{% include 'home-links.twig' %}

</section>
<section class="bg-transparent-70 mb-2 p-3">
	<h4 class="text-center mb-2" style="font-weight: bold;">
		<code>Vállalkozó vagy?</code>
		Tartalomkészítőként szeretnél pénzt keresni, online programozó kurzusaid eladásával? Kattints
		<a href="/legyel-te-is-tartalomkeszito">ide</a>!
	</h4>
</section>
