<div class="row p-0 m-0 w-100 border-left border-right border-muted">
	<div class="col-sm-4 m-auto">
		<h1 class="mt-5 mb-5" style="font-size: 2.5em">
			<a href="/cikkek">Cikkek</a>
		</h1>
	</div>
	<div class="col-sm-4 m-auto border-left border-right border-muted">
		<h1 class="mt-5 mb-5" style="font-size: 2.5em">
			<a href="/react-kurzus">React egyszerűen elmagyarázva</a>
		</h1>
	</div>
	<div class="col-sm-4 m-auto">
		<h1 class="mt-5 mb-5" style="font-size: 2.5em">
			<a href="/php-az-alapoktol">PHP az alapoktól</a>
		</h1>
	</div>
</div>
<div class="row p-0 m-0 w-100 border border-muted">
	<div class="col-sm-6 m-auto border-right border-muted">
		<h1 class="mt-5 mb-5" style="font-size: 2.5em">
			<a href="/trening">Tréning</a>
		</h1>
	</div>
	<div class="col-sm-6 m-auto">
		<h1 class="mt-5 mb-5" style="font-size: 2.5em">
			<a href="/bemutatkozas">Bemutatkozás</a>
		</h1>
	</div>
</div>
