<div class="col-sm-3">
	<h1 class="mt-5 mb-5">
		<a href="/cikkek">Cikkek</a>
	</h1>
</div>
<div class="col-sm-3">
    <h1 class="mt-5 mb-5">
        <a href="/react-kurzus">React Kurzus</a>
    </h1>
</div>
<div class="col-sm-3">
	<h1 class="mt-5 mb-5">
		<a href="/trening">Tréning</a>
	</h1>
</div>
<div class="col-sm-3">
	<h1 class="mt-5 mb-5">
		<a href="/elerhetoseg">Elérhetőség</a>
	</h1>
</div>
