<div class="m-2">
	<h1 class="mb-3">
		Tematika:
	</h1>
	{% for row in episodes %}
		<div class="row m-0">
			{% for episode in row %}
				<div class="col-md-6">
					<div class="card p-2 mb-2 w-100">
						<div class="row w-100">
							<div class="col-md-6 mb-2 pl-2 pr-2">
								<span class="step lead ml-2 mt-2 bg-color-blue">{{episode.position}}</span>
								<div class="card-body m-2">{{episode.shortDescription | raw}}</div>
							</div>
							<div class="col-md-6 mb-2 pl-2 pr-2 d-flex">
								<img loading="lazy" class="card-img-top m-auto text-center" src="/public/files/sm-{{ episode.imgUrl }}" alt=""/>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>
