<div class="mt-3 mb-3 content-body">
  <div class="col-sm-12">
    <div class="card p-3">
      <div class="card-body" id="hero-spot2">
        <div class="card-title">
          <h1 class="mb-4 mt-4">JavaScript az alapoktól (18 óra)</h1>
        </div>

        <div class="col-sm-4 m-auto text-center">
          <img class="img-thumbnail img-fluid" src="/public/images/js_course_logo.png" />
        </div>

        <h2>A kurzus témakörei:</h2>

        <h3>HTTP és kontextus</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Kliens-szerver architektúra</li>
          <li>JavaScript szerepe a böngészőben</li>
          <li>A JS rendszerek céljai kliens oldalon</li>
          <li>Példa: szerver oldali kérés és interaktív hatás előidézése</li>
        </ul>

        <h3>Adattípusok</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Típusok, mint set-ek</li>
          <li>String, number, boolean</li>
          <li>Tömb</li>
          <li>Object</li>
          <li>Példa: több típusból álló, nagyobb adatstruktúra</li>
        </ul>

        <h3>Operátorok</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Az operátorok általánosságban: csoportosítás</li>
          <li>Aritmetikai</li>
          <li>Logikai</li>
          <li>Összehasonlító</li>
          <li>Conditional</li>
          <li>A rendszer állapotának megváltoztatása</li>
          <li>Változók, memóriát módosító operátorok</li>
          <li>Példa: jegyvásárló rendszer</li>
        </ul>

        <h3>Vezérlési szerkezetek</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Fogalmak: control flow és a futás befolyásolásának módjai</li>
          <li>Példa: páros számok száma</li>
          <li>Automatizálás while ciklussal</li>
          <li>For ciklus</li>
          <li>For - of ciklus (ES6)</li>
          <li>If/else statement</li>
        </ul>

        <h3>Függvény</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Function, mint subroutine</li>
          <li>Function, mint determinisztikus számítás (pure function)</li>
        </ul>

        <h3>JS a böngészőben</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Window object, document object</li>
          <li>Element kikeresése</li>
          <li>Példa: írjunk be a dobozba egy számot</li>
          <li>Sémák: element-event-function, state-action-render,</li>
          <li>Példa: dobozok</li>
        </ul>

        <h3>Webshop Projekt</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Egyszerű CRUD rendszer építése</li>
          <li>Létrehozás (Create)</li>
          <li>Listázás (Read)</li>
          <li>Felülírás (Update)</li>
          <li>Törlés (Delete)</li>
        </ul>

        <h3>Aszinkron JS</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Blokkoló kód és callback function,</li>
          <li>Példa: setTimeout beépített function</li>
          <li>JS engine működése, stack, callback queue, event loop</li>
          <li>Aszinkron JS fogalma</li>
        </ul>

        <h3>Programozási paradigmák</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Procedurális</li>
          <li>Funkcionális</li>
          <li>Objektum orientált</li>
        </ul>

        <h3>Objektum orientált programozás</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Function konstruktor</li>
          <li>New operátor</li>
          <li>Class deklaráció</li>
        </ul>

        <h3>AJAX kérések</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>XMLHTTPRequest object</li>
          <li>Projekt: Movie project</li>
        </ul>

        <h3>Promise és async function</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Callback hell</li>
          <li>Promise</li>
          <li>Fetch function</li>
          <li>Async function</li>
          <li>Projekt: Bejelentkezési felület</li>
        </ul>

        <h3>Egyéb nyelvi eszközök</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Try/catch</li>
          <li>Arrow function (ES6)</li>
          <li>Let, const (ES6)</li>
        </ul>

        <h3 class="small text-center w-100 text-dark">Az órák Zoom-on vannak megtartva.</h3>
        <p class="text-center">
          Időpont egyeztetéshez írj chat-en, vagy a <a href="mailto:mate@kodbazis.hu">mate@kodbazis.hu</a> címre!
        </p>
      </div>
    </div>
  </div>
</div>
