<div id="form-component"></div>
<script>
  window.addEventListener("load", () => {
    renderForm("init");
  });

  function renderForm(key) {
    const keyTemplateMap = {
      init: `
      	<form id="form" class="mb-3 bg-light p-3" onsubmit="submitForm(window.event)">
       		<h2 class="mb-2">A kurzus limitált ideig ingyenes</h2>
       		<h3 class="text-center lead mb-3">Iratkozz fel most és szerezz hozzáférést korlátlan időre!</h3>
       		<div class="form-group row pb-3">
       			<label class="col-sm-2 col-form-label">Email:</label>
       			<div class="col-md-10">
       			<input type="email" name="email" class="form-control" required />
       			</div>
       		</div>
       		<div class="form-group row pb-3">
       			<label class="col-sm-2 col-form-label">Jelszó:</label>
       			<div class="col-md-10">
       			<input type="password" name="password" class="form-control" required />
       			</div>
       		</div>

       		<div class="form-check mb-2 text-sm p-0">
       			<label class="form-check-label">
       			<input required type="checkbox" name="apply1" value="1" />
       				Elolvastam és megértettem az
       				<a href="/adatvedelmi-szabalyzat" target="_blank">adatvédelmi szabályzatot</a>.
       			</label>
       		</div>
       		<div class="form-check mb-2 p-0">
       			<label class="form-check-label">
       			<input required type="checkbox" name="apply2" value="1" />
       			Hozzájárulok, hogy a kodbazis.hu adataimat kezelje.
       			</label>
       		</div>
       		<br />
       		<button type="submit" class="btn btn-success btn-lg">Feliratkozás</button>
       		</form>
       	  `,
      pending: `
       		<h1 class='text-dark mt-5 mb-5'>
       			Küldés folyamatban...
       			<div class="spinner-border>
       			</div>
       		</h1>
       		`,
      success: `
			   <div class="card">
					<div class="card-title">
						<h2 class='text-success mt-5 mb-2'>
						A megadott email címre kiküldtünk egy visszaigazoló üzenetet.
						Kérjük kattints az üzenetben lévő megerősítés gombra!
						</h2>
					</div>
				</div>
		  `,
      error: `
		<h2 class='text-danger mt-5 mb-2'>
			Ezzel az email-lel már létezik regisztráció!
			<button class="btn btn-sm btn-danger ml-2" onclick="renderForm('init')">
				Tovább
			</button>
		</h2>
	  `,
    };

    document.getElementById("form-component").innerHTML = keyTemplateMap[key];
  }

  async function submitForm(e) {
    renderForm("pending");
    e.preventDefault();
    const email = e.target.elements.email.value;
    const password = e.target.elements.password.value;

    const res = await fetch("/request-membership", {
      method: "post",
      body: JSON.stringify({
        email,
        password,
      }),
    });
    renderForm(res.ok ? "success" : "error");
  }
</script>
