<nav class="navbar fixed-top bg m-auto">
	<a class="navbar-brand" href="#">
		<a href="/" class="m-auto"><img src="public/images/logo.png" alt="Kódbázis" class="logo"/></a>
	</a>
	<button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fa fa-bars text-light">☰</i>
	</button>
	<div id="navbar-items" class="d-none w-100">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active border-bottom">
				<a class="nav-link text-light p-3" href="/cikkek">
					Cikkek
				</a>
			</li>
			<li class="nav-item active border-bottom">
				<a class="nav-link text-light p-3" href="/react-kurzus">
					React kurzus
				</a>
			</li>
			<li class="nav-item border-bottom">
				<a class="nav-link text-light p-3" href="/trening">
					Tréning
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light p-3" href="/elerhetoseg">Elérhetőség</a>
			</li>
		</ul>
	</div>
</nav>
<script defer src="./public/js/navbar.js"></script>
