<nav class="navbar fixed-top bg m-auto p-0 pt-2 pb-2">
	<div class="row w-100 m-auto pb-1 pt-1">
		<div class="col-4 m-auto text-center p-0">
			<button id="main-navbar-toggler" class="navbar-toggler" type="button">
				<svg style="fill:#FFFFFF;width:24px;height:24px" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 0h24v24H0z" fill="none"></path>
					<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
				</svg>
			</button>
		</div>
		<div class="col-4 m-auto">
			<a href="/" class="m-auto">
				<img src="public/images/logo.webp" alt="Kódbázis" class="logo"/>
			</a>
		</div>
		<div class="col-4 m-auto text-center p-0">
			{% if subscriberLabel != '' %}
				<button id="subscriber-navbar-toggler" class="btn btn-sm text-light" style="border: none">
					{{subscriberLabel}}
					▾
				</button>
			{% else %}
				<a href="/bejelentkezes">
					<button class="btn btn-sm btn-outline-secondary">
						Bejelentkezés
					</button>
				</a>
			{% endif %}
		</div>

	</div>
	<div class="row w-100">
		<div class="col-lg-3 p-0" style="position: absolute;right: 0;background: rgb(34 34 34);">
			<div id="subscriber-navbar-items" class="d-none w-100 border-dark border-left border-right border-bottom">
				<ul class="navbar-nav mr-auto text-center">
					<li class="navbar-item nav-item border-bottom border-dark">
						<a class="nav-link text-light p-3" href="#">
							<form action="/api/subscriber-logout" method="post">
								<button type="submit" class="btn btn-sm btn-outline-danger">Kijelentkezés</button>
							</form>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-6"></div>
		<div class="col-lg-3 p-0" style="position: absolute;left: 0;background: rgb(34 34 34);">
			<div id="main-navbar-items" class="d-none w-100 border-dark border-left border-right border-bottom">
				<ul class="navbar-nav mr-auto">
					<li class="navbar-item nav-item border-bottom border-dark">
						<a class="nav-link text-light p-3" href="/cikkek">
							Cikkek
						</a>
					</li>
					<li class="navbar-item nav-item border-bottom border-dark">
						<a class="nav-link text-light p-3" href="/php-az-alapoktol">
							PHP az alapoktól
						</a>
					</li>
					<li class="navbar-item nav-item border-bottom border-dark">
						<a class="nav-link text-light p-3" href="/react-kurzus">
							React egyszerűen elmagyarázva
						</a>
					</li>
					<li class="navbar-item nav-item border-bottom border-dark">
						<a class="nav-link text-light p-3" href="/trening">
							Tréning
						</a>
					</li>
					<li class="navbar-item nav-item">
						<a class="nav-link text-light p-3" href="/bemutatkozas">Bemutatkozás</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<script defer src="./public/js/navbar.js"></script>
