<div class="mt-3 mb-3 content-body">
  <div class="col-sm-12">
    <div class="card p-3 bg-transparent-70">
      <div class="card-body" id="hero-spot2">
        <div class="card-title">
          <h1 class="mb-4 mt-4">Node.JS + MongoDB (14 óra)</h1>
        </div>

        <div class="col-sm-4 m-auto text-center">
          <img class="img-thumbnail img-fluid" src="/public/images/node-js-logo.png" />
        </div>

        <h2>A kurzus témakörei:</h2>

        <ul class="list-group small-text ml-3 mb-3 list-style-circle">
          <li>HTTP és kontextus</li>
          <li>Require, dirname, filename, module</li>
          <li>Egyszerű szerver létrehozása</li>
          <li>Stream-ek</li>
          <li>Fájlrendszer műveletek</li>
          <li>Request body parse-olása</li>
          <li>NPM</li>
          <li>
            Express
            <ul class="list-group small-text ml-3 mb-3 list-style-circle">
              <li>Middleware fogalma</li>
              <li>Request body parse-olása (urlencoded, json)</li>
              <li>Dinamikus komponens az URL-ben</li>
            </ul>
          </li>

          <li>Postman</li>
          <li>Ejs template engine</li>
          <li>JSON api létrehozása,</li>
          <li>RESTful rendszer</li>
          <li>Webshop projekt backend (kliens oldali rendszer bekötése)</li>
          <li>MongoDB adatbázis műveletek</li>
        </ul>

        <h3 class="small text-center w-100 text-dark">Az órák Zoom-on vannak megtartva.</h3>
        <p class="text-center">
          Időpont egyeztetéshez írj chat-en, vagy a <a href="mailto:mate@kodbazis.hu">mate@kodbazis.hu</a> címre!
        </p>
      </div>
    </div>
  </div>
</div>
