<div class="mt-3 mb-3 content-body">
  <div class="col-sm-12">
    <div class="card p-3">
      <div class="card-body" id="hero-spot2">
        <div class="card-title">
          <h1 class="mb-4 mt-4">PHP + MySQL (20 óra)</h1>
        </div>

        <div class="col-sm-4 m-auto text-center">
          <img class="img-thumbnail img-fluid" src="/public/images/php-course.png" />
        </div>

        <h2>A kurzus témakörei:</h2>

        <h3>Bevezetés</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>PHP nyelv működése, használatának célja a webfejlesztés kontextusában</li>
          <li>HTTP protokoll</li>
        </ul>

        <h3>Típusok 1.</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Primitív típusok</li>
          <li>Tömbök (numerikus, asszociatív)</li>
          <li>Műveletek tömbökkel (egy/több dimenziós)</li>
        </ul>
        <h3>Operátorok</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Az operátorok általánosságban: csoportosítás</li>
          <li>Aritmetikai</li>
          <li>Logikai</li>
          <li>Összehasonlító</li>
          <li>Conditional</li>
          <li>A rendszer állapotának megváltoztatása</li>
          <li>Változók, memóriát módosító operátorok</li>
          <li>Változó scope</li>
          <li>Példa: jegyvásárló rendszer</li>
        </ul>

        <h3>Vezérlési szerkezetek</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Fogalmak: control flow és a futás befolyásolásának módjai</li>
          <li>Példa: páros számok száma</li>
          <li>Automatizálás while ciklussal</li>
          <li>For ciklus</li>
          <li>For - of ciklus (ES6)</li>
          <li>If/else statement</li>
        </ul>

        <h3>Függvény</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Function, mint subroutine</li>
          <li>Function, mint determinisztikus számítás (pure function)</li>
        </ul>

        <h3>MySQL adatbázis műveletek</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Function, mint subroutine</li>
          <li>Function, mint determinisztikus számítás (pure function)</li>
        </ul>

        <h3>Programozási paradigmák</h3>
        <ul class="list-group small-text ml-4 mb-5 list-style-circle">
          <li>Objektum orientált programozás</li>
          <li>Polymorfizmus (öröklődés, interface)</li>
        </ul>

        <h3>MySQL adatbázis műveletek</h3>

        <h3>Termék nyilvántartó rendszer létrehozása</h3>
        <h3>Felhasználó bejelentkeztetése (session kezelés)</h3>

        <h3 class="small text-center w-100 text-dark">Az órák Zoom-on vannak megtartva.</h3>
        <p class="text-center">
          Időpont egyeztetéshez írj chat-en, vagy a <a href="mailto:mate@kodbazis.hu">mate@kodbazis.hu</a> címre!
        </p>
      </div>
    </div>
  </div>
</div>
