<div class="mt-3 mb-3 content-body">
  <div style="margin-bottom: 90px"></div>
  <h1 class="mb-2" style="font-weight: 400 !important">Legyél te is tartalomkészítő a Kódbázison!</h1>

  <p class="lead text-center text-danger">
    Szakértő vagy a programozás területén és megosztanád tudásod tanulni vágyó emberekkel? <br> Készítsd el az online kurzusod és értékesítsd a
    Kódbázis felületén!
  </p>

  

  <div class="row m-3 pt-3 pb-3 border-bottom main-font">
    <div class="col-sm-2 m-auto text-center p-2">
      <i class="fa fa-laptop-code color-blue display-2"></i>
    </div>
    <div class="col-sm-10 m-auto">
      <h4>
        A Kódbázis teljes eszköztárát igénybeveheted <br />
        <i>(<a href="/react-kurzus" target="_blank">Saját eladási felület</a>,
          <a href="/react-kurzus/fejlessz-onalloan" target="_blank">epizód oldalak</a>,
          beágyazható kódsegéd</a>)</i>
      </h4>
    </div>
  </div>

  <div class="row m-3 pt-3 pb-3 border-bottom main-font">
    <div class="col-sm-2 m-auto text-center p-2">
      <i class="fa fa-cogs color-blue display-2"></i>
    </div>
    <div class="col-sm-10 m-auto">
      <h4>Megkapod a know-how-t, hogy hogyan kell a különféle tartalomkészítő eszközöket használni</h4>
    </div>
  </div>

  <div class="row m-3 pt-3 pb-3 border-bottom main-font">
    <div class="col-sm-2 m-auto text-center p-2">
      <i class="fa fa-tag color-blue display-2"></i>
    </div>
    <div class="col-sm-10 m-auto">
      <h4>
        A kurzusod reklámozásra kerül a Kódbázis
        <a href="https://facebook.com/kodbazis" target="_blank">Facebook</a> oldalán és
        <a href="https://youtube.com/kodbazis" target="_blank">Youtube</a> csatornáján
      </h4>
    </div>
  </div>

  <div class="row m-3 pt-3 pb-3 border-bottom main-font">
    <div class="col-sm-2 m-auto text-center p-2">
      <i class="fa fa-money-bill-wave color-blue display-2"></i>
    </div>
    <div class="col-sm-10 m-auto">
      <h4>Az eladott kurzusaidból származó bevétel <code>80%-a</code> hozzád folyik be, a maradék <span style="color: rgb(65 131 196)">20%-a</span> pedig a Kódbázishoz</h4>
    </div>
  </div>
  <br />
  <h4 class="text-center mb-2" style="font-weight: bold;">Ha szeretnél együttműködni, írj a <code>mate@kodbazis.hu</code> címre!</h4>
  <p class="main-font text-center">
    <sup>
      <i class="fa fa-asterisk text-danger" style="font-size: 6px"></i>
    </sup>
    Mielőtt a tanfolyamod felkerül a platformra, előtte megnézzük, hogy megfelel-e a Kódbázis formai és tartalmi
    elvárásainak
  </p>
</div>
