<h1 class="p-3">Vélemények:</h1>
<div class="card">
	<div class="card-body w-100 p-2">
		<blockquote class="p-2">
			<p class="quotation">
				<i class="fa fa-quote-left color-blue mr-2"></i>
				Szeretném megköszönni a react sorozatodat. Fél éve kezdtem el a front-end fejlesztést tanulni, nekem a react a legnehezebb. Most viszont olyan problémákra kaptam választ, amivel eddig falakba ütköztem.
				<i class="fa fa-quote-right color-blue ml-2"></i>
			</p>
			<p class="quotation-footer">— Török Gabi</p>
		</blockquote>
		<blockquote class="p-2">
			<p class="quotation">
				<i class="fa fa-quote-left color-blue mr-2"></i>
				Nagyon jó és hiánypótló minden vidid! Köszi
				<i class="fa fa-quote-right color-blue ml-2"></i>
			</p>
			<p class="quotation-footer">— Gálik János</p>
		</blockquote>
		<blockquote class="p-2">
			<p class="quotation">
				<i class="fa fa-quote-left color-blue mr-2"></i>
				Nem sűrűn találkozom ilyen jó minősegű magyar tutorial videókkal.
				<br>Gratulálok hozzá!
				<i class="fa fa-quote-right color-blue ml-2"></i>
			</p>
			<p class="quotation-footer">— Biró Marcell</p>
		</blockquote>

	</div>
</div>
