<form method="post">
  <label>
    Email
    <input type="email" name="email">
  </label>
  <label for="">
    Jelszó
    <input type="password" name="password">
  </label>
  <input type="submit">
</form>