<div class="w-100 bg-transparent-70 border" id="right-panel">
	{% if isLogin or isPasswordModificationSuccess %}
		{% include 'subscriber-login-form.twig' with {'error': error, 'email': email, registrationPath: '?', 'isPasswordModificationSuccess' : isPasswordModificationSuccess}  %}
	{% else %}
		{% include 'subscriber-registration-form.twig' with {
			'registrationSuccessful': registrationSuccessful, 
			'error': error, 
			'loginPath': '?isLogin=1', 
			'registrationEmailSent' : registrationEmailSent
		}  %}
	{% endif %}
</div>
