<form class="application-form" id="form" class="text-center" action="/apply-to-training" method="post">
	<h2 class="text-dark mb-2">
		Egyeztess időpontot az alábbi adatok kitöltésével:
	</h2>
	<div class="form-group mb-2">
		<label for="exampleInputPassword1">Név</label>
		<input required type="text" class="form-control" id="exampleInputPassword1" name="name"/>
	</div>
	<div class="form-group mb-2">
		<label for="exampleInputEmail1">Email</label>
		<input required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
	</div>

	<div class="form-group mb-3">
		<label class="w-100">
			Időpont
			<input id="start-date" type="text" class="form-control form_datetime" readonly name="startDateVisible" value="">
			<input name="startDate" type="hidden" id="mirror_field" value="" readonly/>
		</label>
	</div>
	<div class="form-group mb-3">
		<label class="w-100">
			Megjegyzések
			<textarea name="remarks" class="form-control"></textarea>
		</label>
	</div>

	<div class="form-check mb-2 text-sm p-0">

		<label class="form-check-label">
			<input type="checkbox" class="" name="apply1" value="1"/>
			<small>
				Elolvastam és megértettem az
				<a href="/adatvedelmi-szabalyzat" target="_blank">adatvédelmi szabályzatot</a>.
			</small>
		</label>
	</div>
	<div class="form-check mb-2 p-0">
		<label class="form-check-label">
			<input type="checkbox" class="" name="apply2" value="1"/>
			Hozzájárulok, hogy a kodbazis.hu adataimat kezelje.
		</label>
	</div>
	<br/>
	<button id="submit-btn" type="submit" class="submit-btn">Küldés</button>
</form>
