<div class="mt-3 mb-3 content-body">
	<div style="margin-bottom:60px"></div>
	<div class="card">
		{% if isLoggedIn %}
			<div class="card-body w-100 p-0" id="hero-spot2">
				<div class="card-title">
					{% if registrationSuccessful is defined and registrationSuccessful %}
						<h1 class="mb-4 mt-5 text-success">
							Regisztráció sikeres
						</h1>
					{% endif %}
				</div>

			</div>
			<div class="row">
				{% include 'home-links.twig' %}
			</div>
		{% else %}
			<div class="row m-0">
				<div class="col-md-8 m-auto text-center">
					<div class="card-body w-100 p-0" id="hero-spot2">
						<h1 class="w-100">
							Légy tagja a Kódbázis közösségének
						</h1>
					</div>
				</div>

				<div class="col-md-4">
					<div class="p-3">
						{% include 'subscriber-registration-form.twig' with {
									'registrationSuccessful': registrationSuccessful, 
									'error': error, 
									'loginPath': '/bejelentkezes', 
									'registrationEmailSent' : registrationEmailSent
								}  %}
					</div>
				</div>
			</div>
		{% endif %}

	</div>
</div>
