<div class="mt-3 mb-3 content-body">

	<div class="card">
		<div class="card-body w-100 p-0" id="hero-spot2">


			{% if isLoggedIn %}
				<div class="card-title">
					<h1 class="mb-4 mt-5 text-success">
						Bejelentkezett felhasználó:
						{{subscriberLabel}}
					</h1>

					<div class="row">
						<div class="col-sm-4">
							<h2 class="mt-5 mb-5">
								<a href="/cikkek">Cikkek</a>
							</h2>
						</div>
						{# <div class="col-sm-3">
													<h2 class="mt-5 mb-5">
														<a href="/react-kurzus">React Kurzus</a>
													</h2>
												</div> #}
						<div class="col-sm-4">
							<h2 class="mt-5 mb-5">
								<a href="/trening">Tréning</a>
							</h2>
						</div>
						<div class="col-sm-4">
							<h2 class="mt-5 mb-5">
								<a href="/elerhetoseg">Elérhetőség</a>
							</h2>
						</div>
					</div>

				</div>
			{% else %}
				<div style="margin-bottom:60px"></div>

				<div class="row">
					<div class="col-sm-6">
						<h1 class="m-auto text-center pt-5 pb-5">
							Lépj be a Kódbázisba
						</h1>
					</div>
					<div class="col-sm-6">
						<div class="p-3">
							{% include 'subscriber-login-form.twig' with {'loginError': loginError, 'email': email, registrationPath: '/feliratkozas', 'isPasswordModificationSuccess': isPasswordModificationSuccess}  %}
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

</div>
