<div class="mt-3 mb-3 content-body">
	<div style="margin-bottom:70px"></div>
	<div class="card">
		{% if isLoggedIn %}
			<div class="card-body w-100 p-0" id="hero-spot2">
				<div class="card-title">
					<h2 class="mb-4 mt-5 text-success">
						Bejelentkezve
						<i class="fa fa-check-circle"></i>
					</h2>
				</div>
			</div>


			<div class="row m-auto mb-4">
				{% for item in courses %}
					<div class="col-md-6">
						<a href="{{item.course.slug}}">
							<div class="card p-2 m-2 bg-muted" style="background-color: beige">
								<img src="/public/files/md-{{item.course.imgUrl}}" class="w-100"/>
								<button class="btn mt-2" format="primary" id="login_signup_button">
									<span class="sc-bxivhb jrbrfM">
										Tovább
										<i class="fa fa-arrow-circle-right"></i>
									</span>
								</button>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
			{% include 'home-links.twig' %}

		{% else %}
			<div class="row m-0">
				<div class="col-md-8 m-auto text-center">
					<div class="card-body w-100 p-0" id="hero-spot2">
						<h1>
							Lépj be a Kódbázisba
						</h1>
					</div>
				</div>
				<div class="col-md-4">
					<div class="p-3">
						{% include 'subscriber-login-form.twig' with {'loginError': loginError, 'email': email, registrationPath: '/feliratkozas', 'isPasswordModificationSuccess': isPasswordModificationSuccess}  %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}

</div></div>
