<div class="mt-3 mb-3 content-body">
	<div class="col-sm-12">
		<div class="card p-3">
			<div class="card-body" id="hero-spot2">
				<div class="card-title">
					<h1 class="mb-4 mt-5">
						Tréning
					</h1>
				</div>
				<hr>
				<h2 class="text-dark">
					Jelentkezz személyre szabott online tréningre, <br> <b>JavaScript</b>, <b>React</b>, <b>Angular</b>, <b>Node.js</b>, <b>PHP</b> és <b>MySQL</b> témákban.
				</h2>

				<h2 class="text-dark">
					<b>Ár: 4990 ft/óra</b>
				</h2>
				<h2>
					<code>Az első óra ingyenes!</code>
				</h2>
				<h3 class="small text-center w-100 text-dark">
					Az órák Zoom-on vannak megtartva.
				</h3>
				
					<hr/>
					<p class="text-center">
						Időpont egyeztetéshez írj chat-en, vagy a <a href="mailto:mate@kodbazis.hu">mate@kodbazis.hu</a> címre!
					</p>
				</div>
			</div>
		</div>
	</div>