:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(100px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(30% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-1.25 * var(--gutter));

  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 600px) {
  .hs {
    grid-auto-columns: calc(70% - var(--gutter) * 2);
  }
}

.hs:before,
.hs:after {
  content: "";
  width: 10px;
}

.app {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

.hs > li,
.item {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 6px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: block;
}

.selected-episode {
  background-color: white !important;
  border: 2px solid black !important;
}

.item {
  min-height: 155px;
  border: 2px solid lightgrey;
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important; /* Firefox */
}
