html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol li {
  list-style-type: decimal;
}
body {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.4;
  font-size: 14px;
}

html,
body {
  height: 100%;
  background-repeat: repeat;
  background-image: url(/public/images/bg2.jpg);
}

.wrapper {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  font-weight: 300 !important;
  line-height: 40px;
  text-align: center;
}

#hero-spot {
  color: #a7a7a7;
  -webkit-backface-visibility: hidden;
  line-height: 1.5em;
  max-width: none;
  margin: 10px auto 60px;
  font-size: 18px;
}

h4 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1em;
}

.content-body {
  width: 1024px;
  margin: auto;
  min-height: 90%;
}

.kodseged-inline {
  width: 1024px;
}

.page-footer {
  /* background-color: #f5f5f5; */
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 30px; */
}

@media screen and (max-width: 1024px) {
  .kodseged-inline {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }

  .content-body {
    width: 100%;
    margin: auto;
  }

  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 25px !important;
  }
}

img.animated-gif {
  width: 120px;
  height: auto;
}

strong {
  font-weight: bold;
}
a {
  color: #4183c4;
  text-decoration: none !important;
}
a:hover {
  color: #156cc2;
  text-decoration: none !important;
}
p code {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px 5px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
h2 {
  text-align: center;
  /* font-weight: 20s */
}
.page h1.title {
  margin-top: 25px;
}
h4 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1em;
  -webkit-backface-visibility: hidden;
}

em {
  font-style: italic;
}
textarea {
  border: none;
  background-color: transparent;
  width: 400px;
  outline: none;
}
.logo {
  display: block;
  width: 169px;
  margin: 0 auto;
}

.footer-cookie-padding {
  padding-bottom: 100px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 80px;
  }
}

.bg {
  background: #222;
}

.first-section {
  padding-top: 50px;
}

.post-card-body {
  height: 90px;
}

.help-link {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #bbb;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  -webkit-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s;
}
.help-link:hover {
  color: #fff;
}
h1 {
  margin: auto;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  max-width: 910px;
  color: #333;
}

.title-margin {
  margin: 90px auto 0 auto;
}

#hero-spot {
  color: #fff;
  -webkit-backface-visibility: hidden;
  max-width: 830px;
  margin-top: 50px;
  font-weight: 100;
  font-size: 14px !important;
}

#main-title {
  color: #fff;
  -webkit-backface-visibility: hidden;
  max-width: 830px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 200;
  line-height: 60px;
  text-align: center;
}

#hero-spot {
  color: #a7a7a7 !important;
  -webkit-backface-visibility: hidden;
  line-height: 1.5em !important;
  max-width: none !important;
  margin: 10px auto 0 !important;
  font-size: 18px !important;
}
#hero-spot2 {
  color: black !important;
  -webkit-backface-visibility: hidden;
  line-height: 1.5em !important;
  max-width: none !important;
  margin: 10px auto 0 !important;
  font-size: 25px !important;
  font-weight: 200;
}

#slideshow {
  margin: 30px auto 0;
  position: relative;
}
.slide {
  margin: 0 auto;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 100;
  -webkit-transition: opacity 0.6s ease-in-out 0s;
  -moz-transition: opacity 0.6s ease-in-out 0s;
  -o-transition: opacity 0.6s ease-in-out 0s;
  transition: opacity 0.6s ease-in-out 0s;
}
.slide:first-child {
  position: relative;
  display: block;
}
.slide.active {
  opacity: 1;
  z-index: 90;
}
.shadow-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9px;
  background: url(../images/section-shadow.png) repeat-x;
}

footer {
  position: relative;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  clear: both;
  width: 1024px;
  /* padding: 40px 0; */
  /* border-top: 1px solid #eee; */
}
.site-footer-links li {
  display: inline-block;
  margin-left: 10px;
}
.site-footer-links li:first-child {
  margin-left: 0;
}

footer .right {
  float: right;
  margin: 0;
}
.left {
  float: left;
}
.article-left {
  width: 500px;
  margin-left: 20px;
}

.page .content {
  padding-left: 10%;
  padding-right: 10%;
}
.versions,
.themes {
  font-size: 1.1em;
}
.versions table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  font-size: 1.1em;
}
.versions table tr th {
  font-weight: bold;
  text-align: left;
}
.versions table tr td {
  padding: 5px 20px 5px 0;
}
.themes .content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.themes .content ul {
  width: 8em;
  margin-left: auto;
  margin-right: auto;
}

.submit-btn {
  padding: 13px 24px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: 0;
  border-radius: 5px;
  background-color: #7ec954;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:disabled {
  background-color: #addd91;
  cursor: not-allowed;
}

.fb-like {
  margin: 10px 0 0 0 !important;
  /* responsive */
}
.fb-like,
.fb-like > span,
.fb-like iframe[style] {
  width: 100% !important;
}

.small-text {
  font-size: 0.8em;
}
.smaller-text {
  font-size: 0.6em;
}

.list-style-circle {
  list-style: circle;
}

.bg-transparent-70 {
  background-color: rgba(255, 255, 255, 0.7) !important;
}