.content-body {
  width: 1200px !important;
}

@media screen and (max-width: 1200px) {
  .content-body {
    width: 100% !important;
  }
}

.active-purchaseType {
  background-color: rgb(15, 174, 241) !important;
  color: white;
}

.quotation {
  font-size: 18px;
  margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
  font-weight: 500
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: rgb(15, 174, 241);
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: rgb(15, 174, 241);
  font-size: 3em;
}
.quotation-footer {
  margin: 10px;
  font-size: 16px !important;
  font-style: italic;
  color: #333 !important;
}

span.step {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}

.color-blue {
  background-color: rgb(15, 174, 241) !important;
}

/* Opacity #1 */
.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover11 figure:hover img {
	opacity: .5;
}

/* Opacity #1 */
.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .8;
}

.checkmark-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkmark-list-item {
  padding-left: 1em; 
  text-indent: -.7em;
}

.checkmark-list-item::before {
  content: "✓ ";
  color: rgb(15, 174, 241); /* or whatever color you prefer */
}

.overlay-container {
  position: relative;
  width: 100%;
  height: 100%
}
.overlay-container .after {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
}
.lock .after {
  display: block;
  background-image: url('/public/images/lock-small.png');
  background-repeat: no-repeat;
}
.preview .after {
  display: block;
  background-image: url('/public/images/preview.png');
  background-size: 80px;
  top: 0px !important;
  left: 0px;
  background-repeat: no-repeat;
}